<%= form_for :vacation, url: pcg_create_vacation_path , :html => { id: 'event_form' } do |f| %>
  <p>
    <label>Reason <span class="mandatory">*</span></label>
    <%=f.text_area :reason, :rows => 4, :cols => 30 %>
  </p>
  <%= f.hidden_field :care_giver_id, :value => params[:id] %>
  <p class="pop-time">
    <%=f.label :startdate, 'Start Time' %>
    <%=f.datetime_select :startdate,{minute_step: 15} , class: "custom-select" %>
  </p>
  <p class="pop-time">
    <%=f.label :enddate, 'End Time' %>
    <%=f.datetime_select :enddate , {minute_step: 15},  class: "custom-select" %>
  </p>
  <p>
  <div class = "checkbox_new">
    <%= f.check_box :all_day , onclick: "FullcalendarEngine.Events.change_all_day(this);"%>
    <%=f.label :all_day , class: "label_check" %>
  </div>
  </p>
  <p>
    <span class="footer-note"><span class="mandatory">*</span> Mandatory fields</span>
    <%= f.submit "Add", value: "Submit", class: "farCare-btn submit first-btn" %>
    <span id = "creating_events" class="spinner" style = "display:none;">Creating, Please wait...</span>
  </p>
<% end %>

<script>
  $(function(){
    $('#event_actions').hide();
    $('#event_desc_dialog').removeClass('event_action_list');
    $(".custom-select").each(function(){
      $(this).wrap("<span class='select-wrapper'></span>");
      $(this).after("<span class='holder'></span>");
      var selectOption = $(this).find(":selected").text();
      $(this).next(".holder").text(selectOption);
    });
    $(".custom-select").change(function(){
      var selecteOption = $(this).find(":selected").text();
      $(this).next(".holder").text(selecteOption);
    });
  });
</script>
