<% content_for :calendar_libraries do %>
<%= stylesheet_link_tag    "fullcalendar_lib", media: "all", "data-turbolinks-track" => true %>
<% end %>


<%= javascript_include_tag "fullcalendar_lib", "data-turbolinks-track" => true %>

<div id="main-outer-wrapper">
  <div id="content-block">
    <div class="breadcrum">
      <ul>
        <li><%= link_to "Home",pcg_home_index_path %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li>Vacation Management Calendar</li>
      </ul>
    </div>
    <h3 class="clear">Vacation Management Calendar</h3>
    <div>
      <div class='calendar'></div>
    </div>
  </div>
</div>
<div id="event_desc_dialog" class="dialog" style="display:none;"></div>
<div id="create_event_dialog" class="dialog" style ="display:none;">
  <%= render 'vacation_request_form' %>
</div>

<script>
  $(document).ready(function(){
    $('.calendar').html('');

    var is_darg_or_resize = false;


    var auto_refresh = setInterval(
            function(){
              if(!is_darg_or_resize){
                $('.calendar').fullCalendar('refetchEvents');
              }
            }, 10000);


    full_calendar_options['eventSources'] = [
    {
      url: "<%= pcg_get_vacation_details_path %>",
      textColor: 'white',
      data: {
            type: 'care_giver_vacation',
      }
    },
    {
      url: "<%= get_services_calendar_care_giver_path(@care_giver) %>",
      textColor: 'black',
      data: {
            type: 'care_giver_event',
      },
      editable: false
    }]
    $('.calendar').fullCalendar(full_calendar_options);
    if (typeof(FullcalendarEngine) === 'undefined') { FullcalendarEngine = {}; }

    FullcalendarEngine = {
      Form: {
        display: function(options) {
          if (typeof(options) == 'undefined') { options = {} }
            FullcalendarEngine.Form.fetch(options)
        },
        render: function(options){
          $('#event_form').trigger('reset');
          var startTime = options['starttime'] || new Date(), endTime = options['endtime'] || new Date(startTime.getTime());
          if(startTime.getTime() == endTime.getTime()) { endTime.setMinutes(startTime.getMinutes() + 1439.986301); }
          FullcalendarEngine.setTime('#vacation_startdate', startTime)
          FullcalendarEngine.setTime('#vacation_enddate', endTime)
          if(options['allDay']){
            FullcalendarEngine.disable_hour_minute($("#vacation_startdate_4i"));
            FullcalendarEngine.disable_hour_minute($("#vacation_startdate_5i"));
            FullcalendarEngine.disable_hour_minute($("#vacation_enddate_4i"));
            FullcalendarEngine.disable_hour_minute($("#vacation_enddate_5i"));
            $('#vacation_all_day').attr('checked', options['allDay'])
          }
          $('#create_event_dialog').dialog({
            title: 'New vacation',
            modal: true,
            width: 500,
            close: function(event, ui) { $('#create_event_dialog').dialog('destroy') }
          });
        },
        fetch: function(options){
          $.ajax({
            type: 'get',
            dataType: 'script',
            async: true,
            url: "<%= pcg_new_vacation_path %>",
            success: function(){
              FullcalendarEngine.Form.render(options) }
          });
        },
        authenticity_token: function(){
          return($('meta[name="csrf-token"]').attr("content"))
        }
      },
      Events: {
        move: function(event, dayDelta, minuteDelta, allDay, revertFunc){
          if(event.status == "accepted"){
            revertFunc();
          }
          else
          {
            $.ajax({
              data: '&day_delta=' + dayDelta + '&minute_delta=' + minuteDelta + '&all_day=' + allDay + '&authenticity_token=' + FullcalendarEngine.Form.authenticity_token(),
              dataType: 'script',
              type: 'post',
              url: "/pcg/vacation/" + event.id + "/move_vacation",
              error: function(xhr){
                alert(JSON.parse(xhr.responseText)["message"])
              },
              success: function(xhr) {
                $('.calendar').fullCalendar('refetchEvents');
              }
            });
          }
        },
        resize: function(event, dayDelta, minuteDelta, revertFunc){
          if(event.status == "accepted"){
            revertFunc();
          }
          else
          {
            $.ajax({
              data: '&day_delta=' + dayDelta + '&minute_delta=' + minuteDelta + '&authenticity_token=' + FullcalendarEngine.Form.authenticity_token(),
              dataType: 'script',
              type: 'post',
               url: "/pcg/vacation/" + event.id + "/resize_vacation",
              success: function(xhr){
                $('.calendar').fullCalendar('refetchEvents');
              },
            });
          }
        },

        edit: function(event_id){
          $.ajax({
            url: "<%= pcg_edit_vacation_path %>",
            data: {vacation_id: event_id},
            success: function(data) {
              $('#create_event_dialog').html('');
              $('#edit_event_description').html(data['form']);
            }
          });
        },
        delete: function(event_id, delete_all){
          jConfirm('Do you really want to delete?','Confirmation', function(c){
            if(c){
              $.ajax({
                data: 'authenticity_token=' + FullcalendarEngine.Form.authenticity_token() + '&delete_all=' + delete_all + '&id=' + event_id,
                dataType: 'script',
                type: 'delete',
                url: "<%= pcg_delete_vacation_path %>",
                success: FullcalendarEngine.Events.refetch_events_and_close_dialog
              });
            }
            else{
             return false;
            }
          });
        },
        refetch_events_and_close_dialog: function() {
          $('#create_event_dialog').html('');
          $('#edit_event_description').html('');
          $('.calendar').fullCalendar('refetchEvents');
          $('.dialog:visible').dialog('destroy');
        },
        showEventDetails: function(event){
          $('#event_desc_dialog').html('');
          $('#event_desc_dialog').addClass('event_action_list');
          if (event.source.data.type == 'care_giver_event'){
            $event_actions = $('<div />').attr("id", "event_actions");
            title = event.title;
            if(event.status != "available"){
              $event_description = $('<div />').html('<div class="row" style="padding-bottom: 20px; padding-top: 12px;"><label style="float: left; margin-right: 10px; font-size: 13px; color: rgb(147, 147, 147);">Assignee:</label> <span style="" class="assignee-spn">'+ event.assigned_path_name +'</span></div>'+event.description).attr("id", "edit_event_description");

            } else{
                $event_description = $('<div />').html(event.description).attr("id", "edit_event_description")
            }
          }
          else
          {
            title = 'Vacation Request';
            $event_actions = $('<div />').attr("id", "event_actions").attr("class", "vaccation-cancl")
            $event_description = $('<div />').html('<label class="reason">Reason:</label><span class="reason">'+event.title+'</span>').attr("id", "edit_event_description");
            if(event.is_past == true){
              if (event.comments){
                $vacation_comment = $('<div />').html('<label class="reason">Comments:</label><span class="reason">'+event.comments+'</span>').attr("id", "vacation_comment");
              } else {
                $vacation_comment = '';
              }
            }else{
              if (event.comments){
                $vacation_comment = $('<div />').html('<label class="reason">Comments:</label><span class="reason">'+event.comments+'</span>').attr("id", "vacation_comment");
              } else {
                $vacation_comment = '';
              }
              $edit_event = $('<span />').attr("id", "edit_event").html("<a href = 'javascript:void(0);' onclick ='FullcalendarEngine.Events.edit(" + event.id + ")'>Re-Apply</a>");
              $cancel_event = $('<span />').attr("id", "delete_event").html("<a href = 'javascript:void(0);' onclick ='FullcalendarEngine.Events.delete(" + event.id + ", " +false + ")'>Cancel Request</a>");
              if(event.status == "accepted"){
                $event_description.append($vacation_comment)
                // $event_actions.append($cancel_event)
              } else{
                $event_description.append($vacation_comment)
                $event_actions.append($edit_event).append($cancel_event)
              }
            }
          }
            $('#event_desc_dialog').append($event_description).append($event_actions)
            $('#event_desc_dialog').dialog({
              title: title,
              modal: true,
              width: 500,
              close: function(event, ui){
                $('#event_desc_dialog').html('');
                $('#event_desc_dialog').dialog('destroy') }
            });
        },
        showPeriodAndFrequency: function(value){
          $('#until').show();
          switch (value) {
            case 'Daily':
            $('#period').html('day');
            $('#frequency').show();
            break;
            case 'Weekly':
            $('#period').html('week');
            $('#frequency').show();
            break;
            case 'Monthly':
            $('#period').html('month');
            $('#frequency').show();
            break;
            case 'Yearly':
            $('#period').html('year');
            $('#frequency').show();
            break;
            default:
            $('#frequency').hide();
            $('#until').hide();
          }
        },

        change_all_day: function(e){
          if($(e).is(':checked')){
            FullcalendarEngine.disable_hour_minute($("#vacation_startdate_4i"));
            FullcalendarEngine.disable_hour_minute($("#vacation_startdate_5i"));
            FullcalendarEngine.disable_hour_minute($("#vacation_enddate_4i"));
            FullcalendarEngine.disable_hour_minute($("#vacation_enddate_5i"));
          }else{
            FullcalendarEngine.enable_hour_minute($("#vacation_startdate_4i"));
            FullcalendarEngine.enable_hour_minute($("#vacation_startdate_5i"));
            FullcalendarEngine.enable_hour_minute($("#vacation_enddate_4i"));
            FullcalendarEngine.enable_hour_minute($("#vacation_enddate_5i"));
          }
        },

        startDragResize: function(){
          is_darg_or_resize = true
        },

        stopDragResize: function(){
          is_darg_or_resize = false
        },
      },
      setTime: function(type, time) {
        var $year = $(type + '_1i'), $month = $(type + '_2i'), $day = $(type + '_3i'), $hour = $(type + '_4i'), $minute = $(type + '_5i')
        $year.val(time.getFullYear());
        $month.prop('selectedIndex', time.getMonth());
        $day.prop('selectedIndex', time.getDate() - 1);
        $hour.prop('selectedIndex', time.getHours());
        minute = (time.getMinutes()<10?'0':'') + time.getMinutes()
        $minute.val(minute);

        FullcalendarEngine.set_holder_value($day);
        FullcalendarEngine.set_holder_value($month);
        FullcalendarEngine.set_holder_value($hour);
        FullcalendarEngine.set_holder_value($minute);
        FullcalendarEngine.set_holder_value($year);
      },
      app_path: function(){
        return (app_path || window.location.pathname.match(/\/(\w)+/)[0])
      },

      set_holder_value: function(type){
        var selectedOption = type.find(":selected").text();
        type.next(".holder").text(selectedOption);
      },

      disable_hour_minute: function(hour_minute){
        hour_minute.prop( "disabled", true );
        hour_minute.parent().addClass('disabled-drop');
      },

      enable_hour_minute: function(hour_minute){
        hour_minute.prop( "disabled", false );
        hour_minute.parent().removeClass('disabled-drop');
      }
    }

  });
</script>
