  <header id="header-block">
    <div id="header">
      <h1 id="logo"><%= link_to image_tag(pcga_home_logo, style: "max-height: 49px;max-width: 116px;"), mobile_home_index_path %></h1>
      <div id="menu">
        <div class="welcome"> Welcome <%= link_to @care_giver.last_name,mobile_settings_view_profile_path(@care_giver.id)%>
        </div>
        <ul>
          <li><%= link_to "", mobile_home_index_path, class: "#{params[:action].eql?("index") ? "home toolTip active" : "home toolTip"}", title: "Home" %></li>
          <li><a href="" class="help"></a></li>
          <li><%= link_to "",mobile_settings_change_password_path(@care_giver.id), class: "#{params[:action].include?("setting") ? "settings toolTip active" : "settings toolTip"}", title: "Settings" %></li>
          <li><%= link_to "", destroy_user_session_path, method: :delete, :class => "logout toolTip", title: "Logout", id: "Logout"%></li>
        </ul>
      </div>
    </div>
    <div id="banner">
    <div id="nav">
    <nav id="nav-wrapper" class="clearfix">

    <a href="#" id="pull">&nbsp;</a>
        <ul>
            <li><%= link_to "Care Clients", mobile_home_index_path, class: "#{["index","care_client_detail"].include?(params[:action]) ? "active" : ""}" %></li>
            <li><a href="" class="coming_soon">Vacation Management</a></li>
        </ul>
  </nav>
  </div>
  </header>