
  <div id="main-outer-wrapper"> 
    <%= render "mobile_pcg_settings_top_navigation" %> 
  <!-- content starts here -->
  <section id="content-block">
  <%= get_flash_messages %>
    <section class="breadcrum">
      <ul>
        <li><%= link_to "Home", mobile_home_index_path %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li>Care Client Profile</li>
      </ul>
    </section>
    <!-- for view -->
    <div class="display-block">
      <%= get_flash_messages %>
    </div>
    <!-- for edit -->
    <h3 class="clear">View Care Client Details</h3>
    <section class="input-hide-show"> 
      <%= simple_form_for(@care_client,:url => mobile_settings_update_profile_path(@care_client.id), method: :patch, :validate => true, html: {id: 'edit_care_giver'}) do |f| %>
        <!-- Personal Details -->
        <h4>Personal Details</h4>
        <section class="inputs mob"> 
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>First Name <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.first_name %></span>
            </div>
            <div class="input-box">
              <p>Last Name <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.last_name %></span>
            </div>
          </div>
          <!-- row ends here --> 
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>Home Address 1 <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.address_1 %></span>
            </div>
            <div class="input-box">
              <p>Home Address 2 </p>
              <span class="spn-txt"><%= @care_client.address_2 %></span>
            </div>
          </div>
          <!-- row ends here --> 
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>City <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.city %></span>
            </div>
            <div class="input-box">
              <p>Country </p>
              <span class="spn-txt"><%= @care_client.country.name %></span>
            </div>
          </div>
          <!-- row ends here --> 
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>State <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.state.name %></span>
            </div>
            <div class="input-box">
              <p>Zip /Postal Code <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.zip %></span>
            </div>
          </div>
          <!-- row ends here --> 
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>Mobile No. <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.mobile_no %></span>
            </div>
            <div class="input-box">
              <p>Alternative No. <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.telephone %></span>
            </div>
          </div>
          <!-- row ends here --> 
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>Email </p>
              <span class="spn-txt"><%= @care_client.user.email %></span>
            </div>
            <div class="input-box">
              <p>Gender <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.gender %></span>
            </div>
          </div>
          <!-- row ends here --> 
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>Date of Birth <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_client.dob.strftime("%m-%d-%Y") %></span>
            </div>
            <div class="input-box">
              <p>Telephony Id </p>
              <span class="spn-txt"><%= @care_client.telephony_no %></span>
            </div>
          </div>
          <!-- row ends here -->
<!--           <div class="row hidden-block">
            <div class="first-input-box">
              <p>Time Zone <span class="mandatory">*</span></p>
              <select name="timepass" class="custom-select">
                <option>Please Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div> -->
          <!-- row ends here --> 
        </section>
          <!-- Family Member -->
					<h4>Family Menmber</h4>
          <section class="inputs mob"> 

            <div class="row">
              <div class="first-input-box">
                <p>First Name </p>
                <span class="spn-txt">A123sendbb</span>
              </div>
              <div class="input-box">
                <p>Last Name</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
            </div>

            <div class="row">
              <div class="first-input-box">
                <p>Home Address 1</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
              <div class="input-box">
                <p>Home Address 2</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
            </div>

            <div class="row">
              <div class="first-input-box">
                <p>City</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
              <div class="input-box">
                <p>State</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
            </div>

            <div class="row">
              <div class="first-input-box">
                <p>Country</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
              <div class="input-box">
                <p>Zip/Postal Code</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
            </div>

            <div class="row">
              <div class="first-input-box">
                <p>Mobile No</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
              <div class="input-box">
                <p>Alternate No</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
            </div>

            <div class="row">
              <div class="first-input-box last">
                <p>Email</p>
                <span class="spn-txt">A123sendbb</span>
              </div>
            </div>

          </section>
          <!-- Status -->
          <h4>Status</h4>
          <section class="inputs mob"> 

            <div class="row">
              <div class="first-input-box last">
                <p>Status</p>
                <span class="spn-txt">A123sendbb</span> </div>
            </div>

          </section>

          <h4>Shared Info</h4>
          <section class="inputs mob"> 

            <div class="row">
              <div class="first-input-box">
                <p>Family Calender</p>
                <span class="spn-txt">A123sendbb</span> </div>
              <div class="input-box">
                <p>Meds</p>
                <span class="spn-txt">A123sendbb</span> </div>
            </div>
 
          </section>

          <h4>Telephony</h4>
          <section class="inputs mob"> 

            <div class="row">
              <div class="first-input-box last">
                <p>Telephony Number</p>
                <span class="spn-txt">A123sendbb</span> </div>
            </div>
 
          </section>
            <% end %>
      </section>
    </section>
  <!-- footer ends here -->

<!-- scripts --> 