 <div id="main-outer-wrapper">

  <%= render "mobile_pcg_home_top_navigation" %>
<!-- content starts here -->
  <div id="wait" class="overlay-loading">
    <div class="loading-img" ><%= image_tag "loader.GIF", :width => "64", :height => "64" %><br>Loading..</div>
  </div>
  <section id="content-block">
  <%= get_flash_messages %>
    <section class="breadcrum">
      <ul>
        <li><%= link_to "Home", mobile_home_index_path %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li>Appointments</li>
      </ul>
    </section>
    <h3 class="clear relative m_btm-15">Appointments
    </h3>
    <section class="row">
      <table width="100%" cellspacing="0" cellpadding="0" class="farCare-tble sort-table">
        <% unless @assigned_events.empty? %>
          <tr>
            <th width="35%"><%= sortable @mr_or_name, "Name / MR#" %></th>
            <th width="30%">Plan</th>
            <th width="35%"><%= sortable "service_time" %></th>
          </tr>
        <% else %>
          <tr>
            <th width="35%">Name / MR#</th>
            <th width="30%">Plan</th>
            <th width="35%">Service Time</th>
          </tr>
        <% end %>
        <% unless @assigned_events.empty? %>
          <% @assigned_events.each do |event| %>
            <% if event.care_client %>
            <% care_client = event_care_client(event) %>
            <tr>
              <td><%= mr_code_name?(care_client)%></td>
              <td><%= link_to (image_tag "plan.png"),mobile_view_care_plan_path(event.id) %></td>
              <!-- <td class="last-td"><%#= event.cc_event.starttime.strftime("%m/%d/%Y") %></td> -->
              <td class = "last-td" style="background-color: #808080;"><%= link_to (event.cc_event.starttime.strftime("#{event.cc_event.starttime.day.ordinalize} %B %y at %I:%M%p").to_s+ "#{event_status(event.status)}"),check_in_check_out_botton_mobile_path(event), :style => "color: #{colour_event(event.cc_event) };"%></td>
            </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr><td colspan="11" class="last-td">No Records Found</td><tr>
        <% end %>
       
      </table>
    </section>

    <!-- for popup -->
    
    <section id="care-clients" class="farCare-popup mr_popup">
      <a href="" class="close"></a>
      <h4 class="m_btm-0" id = "mr_name"></h4>
        <section class="row">
          <section id="content_mr">
            <p></p>
          </section>
        </section>
    </section>
    <!-- pop up ends -->
  </section>
  <div id="backgroundPopup"></div>

  <script type="text/javascript">

    $(document).ajaxStart(function(){
        $("#wait").css("display","block");
      });
      $(document).ajaxComplete(function(){
        $("#wait").css("display","none");
      });

      $(this).keyup(function(event) {
        if (event.which == 27) { // 27 is 'Ecs' in the keyboard
          disablePopup();  // function close pop up
        }
      });

      $("div#backgroundPopup").click(function() {
        disablePopup();  // function close pop up
      });

      $(".close").click(function() {
        disablePopup();  // function close pop up
      });

    var popupStatus = 0; // set value

    function loadPopup() {
      if(popupStatus == 0) { // if value is 0, show popup
        $("#backgroundPopup").css("opacity", "0.7"); // css opacity, supports IE7, IE8
        $("#backgroundPopup").fadeIn(0001);
        $("#care-clients").fadeIn(0001);
        popupStatus = 1; // and set value to 1
      }
    }
    function disablePopup() {
      if(popupStatus == 1) { // if value is 1, close popup
        $("#care-clients").fadeOut("normal");
        $(".farCare-popup").fadeOut("normal");
        $("#backgroundPopup").fadeOut("normal");
        popupStatus = 0;  // and set value to 0
      }
    }

    function get_address(id){
      $.ajax({
        method: "POST",
        url: '/get_address',
        data: {care_client_id: id}
      })
    }

    $(".mr_popup").click(function(e){
       e.preventDefault();
        var id_name = $(this).attr('id');
       var id = id_name.match(/\d+$/);
        console.log(id[0]); 
        get_address(id[0]);
    });
  </script>
  
  <!-- content starts here --> 