 <div id="main-outer-wrapper">

  <%= render "mobile_pcg_settings_top_navigation" %>
  <!-- content starts here -->
  <section id="content-block">
  <%= get_flash_messages %>
    <section class="breadcrum">
      <ul>
        <li><%= link_to "Home", mobile_home_index_path %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li><a>Settings</a></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li>Change Password</li>
      </ul>
    </section>
    <h3 class="clear">Change Password</h3>
    <!--settings menu-->
    <div class="settings-menu three-tabs">
      <ul>
        <li><%= link_to "View Profile",mobile_settings_view_profile_path(@care_giver.id),class: "#{
                  if params[:controller] == "mobile/home"
                    ["settings_view_profile"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></li>
        <li><%= link_to "Change Password",mobile_settings_change_password_path(@care_giver.id),class: "#{
                  if params[:controller] == "mobile/home"
                    ["settings_change_password"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></li>
        <li><a href="" class="last">Vacation Management<span></span></a></li>
      </ul>
    </div>
    <%= simple_form_for(@care_giver, :url => mobile_settings_update_password_path, method: :patch, validate: true, html: {id: 'mobile_settings_update_password'}) do |f| %>
      <section class="inputs mob change-psd-sectn">

        <div class="row">
          <div class="first-input-box">
            <p>Current Password <span class="mandatory">*</span></p>
            <%= password_field_tag :current_password,"", :id => "current_password" %>
            <p class = "current_password error" style="color:red"></p>
          </div>
        </div>

        <%= f.fields_for :user do |user| %>
          <div class="row">
            <div class="first-input-box">
             <p>New Password <span class="mandatory">*</span></p>
             <%= user.password_field :password %>
            </div>
          </div>

          <div class="row">
            <div class="first-input-box">
              <p>Confirm New Password <span class="mandatory">*</span></p>
              <%= user.password_field :password_confirmation %>
            </div>
          </div>
        <% end %>
        <div class="row"><p class="mantory-mob-btm"><span class="mandatory">*</span>Mandatory Fields</p></div>
      </section>
      
      <div class="row">
        <div class="btn-group">
         <%= f.submit "Submit", value: "Submit", class: "farCare-btn save first-btn" %>
         <%= link_to (button_tag "Cancel",:type => 'button',:class => "farCare-btn reset"), mobile_home_index_path, :id => "pcg_change_password_cancel" %>
        </div>
      </div>
     
    <% end %>
      
  </section>
  <!-- content starts here -->
<!-- scripts -->
<script>
    function setupLabel() {
        if ($('.label_check input').length) {
            $('.label_check').each(function(){
                $(this).removeClass('c_on');
            });
            $('.label_check input:checked').each(function(){
                $(this).parent('label').addClass('c_on');
            });
        };
        if ($('.label_radio input').length) {
            $('.label_radio').each(function(){
                $(this).removeClass('r_on');
            });
            $('.label_radio input:checked').each(function(){
                $(this).parent('label').addClass('r_on');
            });
        };
    };
</script>
<script>

  $('.save').click(function(event){

    if ($('#current_password').val() == ""){
      event.preventDefault();
      $('.current_password').html("can't be blank");
    }
    else{
      $('.current_password').empty();
    }

  });


</script>
