<script type="text/javascript">
    $(document).ready(function(){
        $(".custom-select").each(function(){
            $(this).wrap("<span class='select-wrapper'></span>");
            $(this).after("<span class='holder'></span>");
        });
        $(".custom-select").change(function(){
            var selectedOption = $(this).find(":selected").text();
            $(this).next(".holder").text(selectedOption);
        }).trigger('change');
    //checkbox
    $('.label_check, .label_radio').click(function(){
            setupLabel();
        });
        setupLabel();
    $( ".view-edit-btn" ).click(function() {
      $('#state').val('<%= @care_giver.state.id %>');
      $(".input-hide-show .inpt").css("display","block");
      $(".hidden-block").css("display","block");
      $(".input-hide-show .select-wrapper").css("display","block");
      $(".input-hide-show .mandatory").css("display","inline-block");
      $(".input-hide-show .spn-txt").css("display","none");
      $(".display-block").css("display","none");
      $(".input-hide-show .inputs .row").css("padding-bottom","20px");
      // $(".input-hide-show .inputs .first-input-box").css("padding-bottom","20px");
      $('#edit_care_giver').resetClientSideValidations();
    });
    })
</script>

  <div id="main-outer-wrapper">

  <%= render "mobile_pcg_settings_top_navigation" %>
  <!-- content starts here -->
  <section id="content-block">
  <%= get_flash_messages %>
    <section class="breadcrum">
      <ul>
        <li><%= link_to "Home", mobile_home_index_path %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li><%= link_to "Settings", mobile_settings_change_password_path,:id => "mobile_pcg_breadcrum" %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li>View Profile</li>
      </ul>
    </section>
    <!-- for view -->
    <div class="display-block">
      <%= get_flash_messages %>
      <h3 class="clear relative">View Profile
        <a id="edit-ipad" class="edit-pcgc view-edit-btn farCare-btn">Edit Profile</a>
        <a id="edit-mob" class="edit-pcgc view-edit-btn farCare-btn"></a>
      </h3>
    </div>
    <!-- for edit -->
    <h3 class="clear hidden-block">Edit Profile</h3>
    <section class="input-hide-show">
    <div class="settings-menu three-tabs">
      <ul>
        <li><%= link_to "View Profile",mobile_settings_view_profile_path(@care_giver.id),class: "#{
                  if params[:controller] == "mobile/home"
                    ["settings_view_profile"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></li>
        <li><%= link_to "Change Password",mobile_settings_change_password_path(@care_giver.id),class: "#{
                  if params[:controller] == "mobile/home"
                    ["settings_change_password"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></li>
        <li><a href="" class="last">Vacation Management<span></span></a></li>
      </ul>
    </div>

      <%= simple_form_for(@care_giver,:url => mobile_settings_update_profile_path(@care_giver.id), method: :patch, :validate => true, html: {id: 'edit_care_giver'}) do |f| %>
        <!-- Personal Details -->
        <h4>Personal Details</h4>
        <section class="inputs mob">
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>First Name <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.first_name %></span>
              <%= f.text_field :first_name, :class => "inpt" %>
            </div>
            <div class="input-box">
              <p>Last Name <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.last_name %></span>
              <%= f.text_field :last_name, :class => "inpt" %>
            </div>
          </div>
          <!-- row ends here -->
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>Home Address 1 <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.address_1 %></span>
              <%= f.text_field :address_1, :class => "inpt" %>
            </div>
            <div class="input-box">
              <p>Home Address 2 </p>
              <span class="spn-txt"><%= @care_giver.address_2 %></span>
              <%= f.text_field :address_2, :class => "inpt" %>
            </div>
          </div>
          <!-- row ends here -->
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>City <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.city %></span>
              <%= f.text_field :city, :class => "inpt" %>
            </div>
            <div class="input-box">
              <p>Country </p>
              <span class="spn-txt"><%= @care_giver.country.name %></span>
              <%= f.select(:country_id, Country.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select country", :id => "country"}) %>
            </div>
          </div>
          <!-- row ends here -->
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>State <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.state.name %></span>
              <%= f.select(:state_id, State.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select", :id => "state"}) %>
            </div>
            <div class="input-box">
              <p>Zip /Postal Code <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.zip %></span>
              <%= f.text_field :zip, :class => "inpt" %>
            </div>
          </div>
          <!-- row ends here -->
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>Mobile No. <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.mobile_no %></span>
              <%= f.text_field :mobile_no, :class => "inpt" %>
            </div>
            <div class="input-box">
              <p>Alternative No.</p>
              <span class="spn-txt"><%= @care_giver.alternative_no %></span>
              <%= f.text_field :alternative_no, :class => "inpt" %>
            </div>
          </div>
          <!-- row ends here -->
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>Email </p>
              <span class="spn-txt"><%= @care_giver.user.email %></span>
              <%= f.text_field :email, :value => @care_giver.user.email,  :class => "inpt", :disabled => true%>
            </div>
            <div class="input-box">
              <p>Gender <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.gender %></span>
              <fieldset class="radios hidden-block">
                <label class="label_radio">
                  <%= f.radio_button :gender, 'Male', :checked => true %>
                  Male</label>
                <label class="label_radio">
                  <%= f.radio_button :gender, 'Female' %>
                  Female</label>
              </fieldset>
            </div>
          </div>
          <!-- row ends here -->
          <!-- row starts here -->
          <div class="row">
            <div class="first-input-box">
              <p>Date of Birth <span class="mandatory">*</span></p>
              <span class="spn-txt"><%= @care_giver.dob.strftime("%m-%d-%Y") %></span>
              <%= f.text_field :dob, :class => "inpt", :id => "datepicker", readonly: true, value: f.object.dob.strftime("%m-%d-%Y") %>
            </div>
            <div class="input-box">
              <p>Telephony Id </p>
              <span class="spn-txt"><%= @care_giver.telephony_id %></span>
              <%= f.text_field :telephony_id, :class => "inpt" %>
            </div>
          </div>
          <!-- row ends here -->
<!--           <div class="row hidden-block">
            <div class="first-input-box">
              <p>Time Zone <span class="mandatory">*</span></p>
              <select name="timepass" class="custom-select">
                <option>Please Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div> -->
          <!-- row ends here -->
          <!-- <div class="row"></div> -->
        </section>
        <section class="display-block">
          <!-- Family Member -->
<!--           <h4>Family Menmber</h4>
          <div class="inputs mob">

            <div class="row">
              <div class="first-input-box">
                <p>First Name </p>
                <span class="spn-txt">A123sendbb</span>
                <input type="text" class="inpt">
              </div>
              <div class="input-box">
                <p>Last Name</p>
                <span class="spn-txt">A123sendbb</span>
                <input type="text" class="inpt">
              </div>
            </div>

            <div class="row">
              <div class="first-input-box">
                <p>Home Address 1</p>
                <span class="spn-txt">A123sendbb</span>
                <input type="text" class="inpt">
              </div>
              <div class="input-box">
                <p>Home Address 2</p>
                <span class="spn-txt">A123sendbb</span>
                <input type="text" class="inpt">
              </div>
            </div>

            <div class="row">
              <div class="first-input-box">
                <p>City</p>
                <span class="spn-txt">A123sendbb</span>
                <textarea class="inpt"></textarea>
              </div>
              <div class="input-box">
                <p>State</p>
                <span class="spn-txt">A123sendbb</span>
                <textarea class="inpt"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="first-input-box">
                <p>Country</p>
                <span class="spn-txt">A123sendbb</span>
                <textarea class="inpt"></textarea>
              </div>
              <div class="input-box">
                <p>Zip/Postal Code</p>
                <span class="spn-txt">A123sendbb</span>
                <textarea class="inpt"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="first-input-box">
                <p>Mobile No</p>
                <span class="spn-txt">A123sendbb</span>
                <textarea class="inpt"></textarea>
              </div>
              <div class="input-box">
                <p>Alternate No</p>
                <span class="spn-txt">A123sendbb</span>
                <textarea class="inpt"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="first-input-box last">
                <p>Email</p>
                <span class="spn-txt">A123sendbb</span>
                <input type="text" class="inpt">
              </div>
            </div>

          </div> -->
          <!-- Status -->
<!--           <h4>Status</h4>
          <div class="inputs mob">

            <div class="row">
              <div class="first-input-box last">
                <p>Status</p>
                <span class="spn-txt">A123sendbb</span> </div>
            </div>

          </div>

          <h4>Shared Info</h4>
          <div class="inputs mob">

            <div class="row">
              <div class="first-input-box">
                <p>Family Calender</p>
                <span class="spn-txt">A123sendbb</span> </div>
              <div class="input-box">
                <p>Meds</p>
                <span class="spn-txt">A123sendbb</span> </div>
            </div>

          </div>

          <h4>Telephony</h4>
          <div class="inputs mob">

            <div class="row">
              <div class="first-input-box last">
                <p>Telephony Number</p>
                <span class="spn-txt">A123sendbb</span> </div>
            </div>

          </div> -->
        </section>
        <div class="row hidden-block">
        <p class="mantory-mob-btm"><span class="mandatory">*</span>Mandatory Fields</p>
          <div class="btn-group">
            <input type="submit" value="Submit" class="farCare-btn save first-btn" />
            <% end %>
            <%= link_to (button_tag "Cancel",:type => 'button',:class => "farCare-btn cancel"), mobile_settings_view_profile_path(@care_giver.id), :id => "mobile_pcg_edit_cancel" %>
          </div>
        </div>
      </section>
    </section>


<!-- scripts -->
<script>
  function setupLabel() {
      if ($('.label_check input').length) {
          $('.label_check').each(function(){
              $(this).removeClass('c_on');
          });
          $('.label_check input:checked').each(function(){
              $(this).parent('label').addClass('c_on');
          });
      };
      if ($('.label_radio input').length) {
          $('.label_radio').each(function(){
              $(this).removeClass('r_on');
          });
          $('.label_radio input:checked').each(function(){
              $(this).parent('label').addClass('r_on');
          });
      };
  };

  $(function() {

    $("#datepicker").datepicker({
      onClose: function(dateText, inst) { $(inst.input).change().focusout(); },
      changeMonth: true,
      changeYear: true,
      dateFormat: 'mm-dd-yy',
      maxDate : new Date(),
      yearRange: "-100:+0",
      showMonthAfterYear : true
    });

    get_states($('.country').val());

  });


  $('#country').focusout(function(){
    validation("#country")
  });
  $('#state').focusout(function(){
    validation("#state")
  });
  $('.submit').click(function(){
    validation_submit("#country")
    validation_submit("#state")
  });


  function validation(class_name){
    if ($(class_name).val() == ''){
      $(class_name).parent().next().hide();
      $(class_name).parent().next().next().remove();
    }
  }
  function validation_submit(class_name_submit){
    if ($(class_name_submit).val() == ''){
      $(class_name_submit).parent().next().show();
      $(class_name_submit).parent().next().next().remove();
    }
  }

  $('.country').change(function(){
    get_states($('.country').val());
    $('#state').next().html('Please select');
  });

  function get_states (value) {
    $.ajax({
      type: "POST",
      dataType: "script",
      url: '/mobile/home/get_state_list',
      data: {country: value}
    });
  }

</script>