 <script type="text/javascript">
    $(document).ready(function(){
    
    //slides the element with class "accordian-body" when paragraph with class "accordian-head" is clicked 
    $("#firstpane p.accordian-head").click(function()
    {
      if (!$(this).hasClass("active")) {
          $(this).addClass("active").next("div.accordian-body").slideToggle(300);
      } 
    else {
      $(this).removeClass("active").next("div.accordian-body").slideToggle(300);
    }
      
      
    }); 
    })
</script>

 <div id="main-outer-wrapper">

<%= render "mobile_pcg_home_top_navigation" %>
<div id="wait" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;"><%= image_tag "loader.GIF", :width => "64", :height => "64" %><br>Loading..</div>

<!-- content starts here -->
  <section id="content-block">
  <%= get_flash_messages %>
    <section class="breadcrum">
      <ul>
        <li><%= link_to "Home", mobile_home_index_path %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li>View Careplan</li>
      </ul>
    </section>
    <h3 class="clear m_btm-15">View Careplan(<%= @care_client.fullname %>)</h3>
    <div class="row">
  		<!-- <input type="button" value="Check-in" class="farCare-btn check-in  first-btn m_btm-15" href= "/mobile/home/1/view_care_client_services"> -->
      <%#= link_to (button_tag "Check-in",:type => 'button',:class => "farCare-btn check-out  first-btn m_btm-15"),mobile_view_care_client_services_path(@assigned_event) %>
      <%= check_in_active?(@event,"mobile")%>
    </div>
  <div id="firstpane" class="accordian-list h-btm accordian-details mob"> <!--Code for menu starts here-->
      <% unless @services.empty? %>
        <% @services.each do |service| %>
        <p class="accordian-head"><%= service[0]%> <span class="arrow"></span></p>
        <div class="accordian-body">
          <div class="inputs view_care_plan border-block">
            <!-- row starts here -->
            <% service[1].each do |serv_array| %>
            <div class="row">
              <span class="column-two">
                <%= serv_array[0].name if serv_array[0]%>
                <%= is_required?(serv_array[0],@care_client.id) %>
              </span>
              <% if serv_array[1] %>
              <span class="column-two last">
                <%= serv_array[1].name if serv_array[1]%>
                <%= is_required?(serv_array[1],@care_client.id) %>
              </span>
              <% end %>
            </div>
            <% end %>
            <!-- row ends here -->
          </div>
        </div>
        <% end %>
      <% end %>
      <div class="row"><p class="mantory-mob"><span class="mandatory">*</span>Mandatory Fields</p></div>
  </div>

 <!-- pop up starts here -->



  <section id="care-clients" class="farCare-popup mr_popup popup_not_checkedout">
      <a href="" class="close"></a>
      <h4 class="m_btm-0" id ="mr_name">Warning</h4>
        <section class="row">
          <section id="content_mr_alert">
            <p class = "p-content"><%= checkin_inactive_msg("mobile") %></p>
          </section>
        </section>
    </section>
    <!-- pop up ends -->
  </section>






<!-- pop up ends here -->
  <div id="backgroundPopup"></div>

  
  </section>

  


  <script>
  
    $(document).ajaxStart(function(){
      $("#wait").css("display","block");
    });
    $(document).ajaxComplete(function(){
      $("#wait").css("display","none");
    });

  $(".check-in").click(function(e){
    e.preventDefault();
    var self = $(this);
    if (!self.hasClass("inactive")){
      getLocation(); //Call function only button is active
    }
  });

  var getLocation = function(){
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(getPosition,errors);         
    } else {                
      geolocationError();
    }
  }

  var getPosition = function (position) {
    var user_lat  = position.coords.latitude;
    var user_long = position.coords.longitude;
    var addr = $(".check-in").attr("href");
    if (user_lat && user_long){
      $.ajax({
      method: "POST",
      url: '/mobile/save_location/<%= params[:id]%>?status=checkin',
      data: {latitude: user_lat, longitude: user_long}
      }).success(function(msg) {
        window.location = addr;
      });   
    }
  }

  function errors(error_code) {
    geolocationError();
  }

  function geolocationError(){
    jConfirm('Location data unavailable, admin will be notified about this. Do you wish to proceed ?','Confirmation', function(c){
      if(c){
        var addr = $(".check-in").attr("href");
        window.location = addr;      
      }
      }); 
  }

  $(this).keyup(function(event) {
        if (event.which == 27) { // 27 is 'Ecs' in the keyboard
          disablePopup();  // function close pop up
        }
      });

      $("div#backgroundPopup").click(function() {
        disablePopup();  // function close pop up
      });

      $(".close").click(function() {
        disablePopup();  // function close pop up
      });

    var popupStatus = 0; // set value

    function loadPopup() {
      if(popupStatus == 0) { // if value is 0, show popup
        $("#backgroundPopup").css("opacity", "0.7"); // css opacity, supports IE7, IE8
        $("#backgroundPopup").fadeIn(0001);
        $("#care-clients").fadeIn(0001);
        popupStatus = 1; // and set value to 1
      }
    }
    function disablePopup() {
      if(popupStatus == 1) { // if value is 1, close popup
        $("#care-clients").fadeOut("normal");
        $(".farCare-popup").fadeOut("normal");
        $("#backgroundPopup").fadeOut("normal");
        popupStatus = 0;  // and set value to 0
      }
    }

    $(".not_checkedout").click(function(e){
       e.preventDefault();
       loadPopup();
    });
  
 </script>