<div class="breadcrum">
  <ul>
    <li><%= link_to "Home",pcga_home_index_path(), :id => "pcg_breadcrum_link" %></li>
    <li class="greater-than"><%= image_tag("greater-than.png", :width => "4", :height => "7") %></li>
    <li>Settings</li>
  </ul>
</div>
<h3 class="clear">Settings</h3>
<div class="settings-menu care-plan-settings">
	<ul>
    	<li><%= link_to "View Profile",pcga_settings_view_profile_path(@care_giver_company.id),class: "#{
                  if params[:controller] == "pcg/home" || params[:controller] == "pcga/home"
                    ["settings_view_profile"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></li>
      <li><%= link_to "Change Password",pcga_settings_change_password_path(@care_giver_company.id),class: "#{
                  if params[:controller] == "pcg/home" || params[:controller] == "pcga/home"
                    ["settings_change_password"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></li>
      <li><%= link_to "Customize Website",pcga_settings_path,class: "#{
                  if params[:controller] == "pcg/home" || params[:controller] == "pcga/home"
                    ["settings"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></li>
      <li><%= link_to "Care Plan Settings",pcga_care_plan_setting_path(@care_giver_company.id),class: "#{
                  if params[:controller] == "pcg/home" || params[:controller] == "pcga/home"
                    ["care_plan_setting"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></a></li>
      <li><%= link_to "Location Deviation Alerts",pcga_settings_check_in_out_alerts_path((@care_giver_company.care_givers.first.id rescue nil)),class: "last #{
                  if params[:controller] == "pcg/home" || params[:controller] == "pcga/home"
                    ["settings_check_in_out_alerts"].include?(params[:action]) ? "active" : ""
                  end }"%><span></span></li>
  </ul>
</div>
