  <!-- <div class="farCare-alert">Warning <a href="" class="close"></a></div> -->
  <!-- <div class="farCare-error">Error<a href="" class="close"></a></div>  -->
  <div class="breadcrum">
    <ul>
      <li><%= link_to "Home", pcga_home_index_path %></li>
      <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
      <li><%= link_to change_name("pcg"), pcga_home_index_path %></li>
      <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
      <li>Assign Care Clients</li>
    </ul>
  </div>
  <h3 class="clear">Assign Care Clients</h3>
  <div class="inputs">
    <div class="row h-btm">
      <div class="first-input-box">
        <p>Choose Care Client</p>
        <select class="custom-select" id="company">
          <option value= "">Please select</option>
          <% @care_clients.each do |cc|%>
          <option value= <%= cc.id %>>
            <%= cc.fullname %>
          </option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row h-btm">
     <p>Choose <%= change_name("Care Giver")%>s</p>
     <p class="choose-care-giver1 clear">Unassigned <%= change_name("Care Giver")%>s</p>
     <p class="choose-care-giver2">Assigned <%= change_name("Care Giver")%>s</p>
     <select multiple="multiple" id="my-select" name="my-select[]">
      <% @care_givers.each do |pcg|%>
        <%= mult_select_box(pcg) %>
      <% end %>
    </select>
  </div>

</div>
<script type="text/javascript">
  $('#my-select').multiSelect({
    afterSelect: function(values){
      var care_cliet_id = $("#company").val();
      if(!care_cliet_id){
        jAlert('warning', "Please Select a Care Client!", 'Warning');
        $('#my-select').multiSelect('deselect_all', false);
      }
      if(values && care_cliet_id){
        $.each(values, function(index, value){
          $.ajax({
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},
            url: '/pcga/assign_care_giver_to_careclient/'+value+'/'+care_cliet_id
          });
        });
      }
    },
    afterDeselect: function(values){
      jConfirm('This will remove all future appointments that asscoicated with this CC, Do you want to countinue?','Confirmation', function(c){
        if(c){
          var care_cliet_id = $("#company").val();
          if(values && care_cliet_id){
            $.each(values, function(index, value){
              $.ajax({
                type: "POST",
                 beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},
                url: '/pcga/unassign_care_giver_to_careclient/'+value+'/'+care_cliet_id
              });
            });
          }
        }else{
          console.log('Yess')
          $('#my-select').multiSelect('select', values, false);
        }
      });
    }
  });


  function deselect() {
    console.log(this, 'deselected');
  }

  $(function() {
    $("#company").change(function(event){
      event.preventDefault();
      var id = $(this).val();
      if(id){
        $.ajax({
          type: "POST",
          // dataType: 'script',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},
          url: '/pcga/get_care_givers/' + id,
          data: {pcg_id: id},
          success: function(msg){

          }
        });
      }else{
        $('#my-select').multiSelect('deselect_all', false);
      }
    });
  });




</script>