<%= render "settings_navigation_top" %>
<div class="settings-block"> 
    <!--FarCare Care Tracker Used-->
    <%= simple_form_for(@care_plan_setting, :url => pcga_update_care_plan_setting_path(@care_plan_setting.id), method: :patch, validate: true) do |f| %>
    <div class="row">
      <fieldset class="radios">
        <label class="label_radio" id = "care_radio">
          <%= f.radio_button :farcare_tracker_used, true  %>
          HomaCare Care Tracker Used</label>
      </fieldset>
  </div>
  <div class="sub-category">
  <div class="row">
    <p class="med-txt">Detect and report appointment misses</p>
</div>

<div class="row care-tracker-reminder">
    <div class = "checkbox_new">
        <%= f.check_box :pcg_checkin_reminder_required %>
        <label class="label_check" for = "care_plan_setting_pcg_checkin_reminder_required"><%= change_name("pcg")%> gets CareTracker appointment reminder before</label>
    </div>
    <%= f.select (:pcg_checkin_reminder_time), ["15","30","45","60"],{}, :class => "custom-select" %>
    <span class="hrs-min">minutes</span>  
</div>
<div class="row care-tracker-reminder h-btm m_btm-15">
    <div class = "checkbox_new">
        <%= f.check_box (:pcga_appointment_missed_alert_required),{}, "true","false" %>
        <label class="label_check" for = "care_plan_setting_pcga_appointment_missed_alert_required"> PCGA gets SMS alert if appointment is missed by</label>
    </div>
    <%= f.select (:pcga_appointment_missed_alert_time), ["15","30","45","60"],{},{:class => "custom-select"} %> 
    <span class="hrs-min">minutes</span>   
</div>
</div>
<!--FarCare Care Tracker Not Used-->
<div class="row" style="">
    <fieldset class="radios">
      <label class="label_radio" id = "care_radio1" >
        <%= f.radio_button :farcare_tracker_used, false %>
        HomaCare Care Tracker Not Used</label>
    </fieldset>
</div>
<div class="sub-category">
<div class="row">
    <div class = "checkbox_new">
        <%= f.check_box :telephony_system_used%>
         <label class="label_check fs17" for = "care_plan_setting_telephony_system_used">TelePhony System Used</label>
         </div>
     </div>
     <div class="row triple-inpts">
        <div class="first">
            <p>Call-in number <span class="mandatory">*</span><span class = "error call_in_error"></span></p>
            <%= f.text_field :call_in_no, :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
            <p><span class = "error"></span></p>
            <span class="help-text">(Ex: 1-800-222-5555)</span>
        </div>
        <div class="scnd">
            <p>Check-in code <span class="mandatory">*</span><span class = "error check_in_error"></span></p>
            <%= f.text_field :check_in_code%>
            <p><span class = "error"></span></p>
            <span class="help-text">(Ex: 1)</span>
        </div>
        <div class="third">
            <p>Check-out code <span class="mandatory">*</span><span class = "error check_out_error"></span></p>
            <%= f.text_field :check_out_code %>
            <p><span class = "error"></span></p>
            <span class="help-text">(Ex: 2)</span>
        </div>
     </div>
</div>
<div class="row">
   <div class = "checkbox_new">   
    <%= f.check_box :detect_late_checkout %>
    <label class="label_check fs17" for = "care_plan_setting_detect_late_checkout" >Detect late checkout</label>
</div>
</div>
<div class="sub-category">
<div class="row care-tracker-reminder-scnd">
   <div class = "checkbox_new">
    <%= f.check_box :pcg_checkout_reminder_required %>
    <label class="label_check" for ="care_plan_setting_pcg_checkout_reminder_required"><%= change_name("pcg")%> will get a reminder SMS, if not check-out within</label>
</div>
<%= f.text_field :pcg_checkout_reminder_time %>  
<span class="hrs-min">hours</span> 
<span class = "error" id = "reminder_time">&nbsp;</span> 
</div>

<div class="row care-tracker-reminder-scnd">
    <div class = "checkbox_new">
        <%= f.check_box :pcga_checkout_alert_required %>
        <label class="label_check" for ="care_plan_setting_pcga_checkout_alert_required">Administrator will get an alert SMS, if not check-out within</label>
    </div>
    <%= f.text_field :pcga_checkout_alert_time %>  
    <span class="hrs-min">hours</span> 
    <span class = "error" id = "alert_time">&nbsp;</span>
</div>
</div>
<div class="row  eow-select care-tracker-reminder">
    <p class="med-txt fleft">End of the week <span class="mandatory">*</span>&nbsp;&nbsp;&nbsp; </p>
    <%= f.select(:end_of_week, ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],{}, {:class => "custom-select"})%>

</div>
<div class="row">
    <div class = "checkbox_new">
     <%= f.check_box :pcga_gps_mismatch_alert_required %>
     <label class="label_check fs17" for = "care_plan_setting_pcga_gps_mismatch_alert_required">Enable alerts to Admin when GPS Location doesn't match or Browser Usage Detected</label>
 </div>
</div>
<div class="row h-btm">
    <div class="notification">
        <p>Distance variation for sending notification
            <span class="green-txt">Green < </span>
            <%= f.text_field :pcga_gps_mismatch_distance_min, id: "dist_min" %> m
            <span class="yellow-txt">< Yellow < </span>
            <%= f.text_field :pcga_gps_mismatch_distance_max, id: "dist_max" %> m
            <span class="red-txt">< Red </span><span class = "error red-blw">&nbsp;</span>
        </p>

    </div>
</div>
<div class="row">
  <p class="footer-note"><span class="mandatory">*</span> Mandatory fields</p>
    <input type="submit" value="Save" class="farCare-btn submit first-btn">
    <%#= button_tag "Cancel",:type => 'button',:class => "farCare-btn cancel", :id => "pcg_new_cancel" %>
    <%= link_to (button_tag "Cancel",:type => 'button',:class => "farCare-btn cancel"), pcga_home_index_path, :id => "pcgc_settings_edit_cancel" %>
</div>
<% end %>
</div> 

<script type="text/javascript">
    $('.edit_care_plan_setting').submit(function(event){
        if ($('#dist_max').val() == ""){
            $('#dist_max').val("0");
        }
        if ($('#dist_min').val() == ""){
            $('#dist_min').val("0");
        }

        if ($('#care_plan_setting_farcare_tracker_used_false').prop('checked')){
            if ($('#care_plan_setting_call_in_no').val() == "")
            {
               event.preventDefault();
               $('.call_in_error').html(" &nbsp Can't be blank");
              // return false; 
          } 
          else{
           $('.call_in_error').html("");
       }
       if ($('#care_plan_setting_check_out_code').val() == "")
       {

        event.preventDefault();
        $('.check_out_error').html(" &nbsp Can't be blank");
              // return false; 
          } 
          else{
            $('.check_out_error').html("");
        }
        if ($('#care_plan_setting_check_in_code').val() == "")
        {
            event.preventDefault();
            $('.check_in_error').html(" &nbsp Can't be blank");
              // return false; 
          } 
          else{
            $('.check_in_error').html("");
        }
    }

    if ($('#care_plan_setting_pcga_checkout_alert_required').prop("checked")){      
        if ($('#care_plan_setting_pcga_checkout_alert_time').val() == "" && $("#care_plan_setting_detect_late_checkout").prop("checked"))
        {
            event.preventDefault();
            $('#alert_time').html(" &nbsp Set Time");
              // return false; 
          } 
          else{
            $('#alert_time').html("");
        }
    }

    var distance = ($('#dist_max').val())- ($('#dist_min').val());
    if(distance <= 0){
        if($('#dist_max').next().next('.error').html() != "Max limit should be greater than Min limit"){
           $('#dist_max').next().next('.error').html("Max limit should be greater than Min limit");
       }   
       event.preventDefault();

   }
   else{
     $('#dist_max').next().next().next('.error').html(""); 
 }


 if ($('#care_plan_setting_pcg_checkout_reminder_required').prop("checked")){
     if ($('#care_plan_setting_pcg_checkout_reminder_time').val() == "" && $("#care_plan_setting_detect_late_checkout").prop("checked"))
     {

        event.preventDefault();
        $('#reminder_time').html("&nbsp Set Time");
          // return false; 
      } 
      else{
       $('#reminder_time').html("");

   }
}




});

$('#dist_min, #dist_max').focusout(function(){
    validation();
});

$("#dist_max, #dist_min, #care_plan_setting_pcg_checkout_reminder_time, #care_plan_setting_pcga_checkout_alert_time, #care_plan_setting_call_in_no").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
             (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
             (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
             return;
         }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });


if($("#care_plan_setting_detect_late_checkout").prop("checked")){
    $("#care_plan_setting_pcg_checkout_reminder_required,#care_plan_setting_pcga_checkout_alert_required").attr("disabled",false);
    $("#care_plan_setting_pcg_checkout_reminder_time, #care_plan_setting_pcga_checkout_alert_time").attr("readonly",false);

}
else{
    $("#care_plan_setting_pcg_checkout_reminder_required, #care_plan_setting_pcga_checkout_alert_required").attr("disabled",true);
    $("#care_plan_setting_pcg_checkout_reminder_time, #care_plan_setting_pcga_checkout_alert_time").attr("readonly",true) ;  
}

$('#care_plan_setting_call_in_no').mask('0-000-000-0000');

$('#care_plan_setting_farcare_tracker_used_true').click(function(){
    $("#care_plan_setting_call_in_no,#care_plan_setting_check_in_code,#care_plan_setting_check_out_code").attr("readonly", true);
    $("#care_plan_setting_call_in_no,#care_plan_setting_check_in_code,#care_plan_setting_check_out_code").attr("disabled", true);
    $('#care_plan_setting_telephony_system_used').attr("disabled",true);
    $('#care_plan_setting_pcg_checkin_reminder_time, #care_plan_setting_pcga_appointment_missed_alert_time,#care_plan_setting_pcg_checkin_reminder_required,#care_plan_setting_pcga_appointment_missed_alert_required').attr("disabled",false);
});

$('#care_plan_setting_farcare_tracker_used_false').click(function(){
    $("#care_plan_setting_call_in_no,#care_plan_setting_check_in_code,#care_plan_setting_check_out_code").attr("readonly", false);
    $("#care_plan_setting_call_in_no,#care_plan_setting_check_in_code,#care_plan_setting_check_out_code").attr("disabled", false);
    $('#care_plan_setting_telephony_system_used').attr("disabled",false);
    $('#care_plan_setting_pcg_checkin_reminder_time, #care_plan_setting_pcga_appointment_missed_alert_time,#care_plan_setting_pcg_checkin_reminder_required,#care_plan_setting_pcga_appointment_missed_alert_required').attr("disabled",true);
});
var myVar=setInterval(function(){myTimer()},1000);

function myTimer()
{
    if($('#care_radio').attr('class') == "label_radio r_on"){
      $("#care_plan_setting_call_in_no,#care_plan_setting_check_in_code,#care_plan_setting_check_out_code").attr("readonly", true);
      $("#care_plan_setting_call_in_no,#care_plan_setting_check_in_code,#care_plan_setting_check_out_code").attr("disabled", true);
      $('#care_plan_setting_telephony_system_used').attr("disabled",true);
      $('#care_plan_setting_pcg_checkin_reminder_time, #care_plan_setting_pcga_appointment_missed_alert_time,#care_plan_setting_pcg_checkin_reminder_required,#care_plan_setting_pcga_appointment_missed_alert_required').attr("disabled",false);

  }
  else if($('#care_radio1').attr('class') == "label_radio r_on"){
    $("#care_plan_setting_call_in_no,#care_plan_setting_check_in_code,#care_plan_setting_check_out_code").attr("readonly", false);
    $("#care_plan_setting_call_in_no,#care_plan_setting_check_in_code,#care_plan_setting_check_out_code").attr("disabled", false);
    $('#care_plan_setting_telephony_system_used').attr("disabled",false);
    $('#care_plan_setting_pcg_checkin_reminder_time, #care_plan_setting_pcga_appointment_missed_alert_time,#care_plan_setting_pcg_checkin_reminder_required,#care_plan_setting_pcga_appointment_missed_alert_required').attr("disabled",true);
}

if($("#care_plan_setting_detect_late_checkout").prop("checked")){
    $("#care_plan_setting_pcg_checkout_reminder_required,#care_plan_setting_pcga_checkout_alert_required").attr("disabled",false);
    $("#care_plan_setting_pcg_checkout_reminder_time, #care_plan_setting_pcga_checkout_alert_time").attr("readonly",false);

}
else{
    $("#care_plan_setting_pcg_checkout_reminder_required, #care_plan_setting_pcga_checkout_alert_required").attr("disabled",true);
    $("#care_plan_setting_pcg_checkout_reminder_time, #care_plan_setting_pcga_checkout_alert_time").attr("readonly",true) ;  
}

}



function validation(){
  $('#dist_max').next().next().next('.error').next().remove();
}
</script>