

    <div class="breadcrum">
      <ul>
        <li class="view"><%= link_to "PCGC",admin_home_index_path, :class => "confirm" %></li>
        <li class="edit"><%= link_to "PCGC",admin_home_index_path, :class => "confirm", :id => "pcgc_edit_breadcrum_link" %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li class="edit"><%= link_to "View Details",edit_pcga_home_path(@care_giver_company.id), :class => "confirm", :id => "pcgc_edit_view_breadcrum_link" %>
        <li class="greater-than edit"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li class="edit">Edit PCGC</li>
        <li class="view">View Details</li>
      </ul>
    </div>

    <div class="display-block">
    <h3 class="clear relative m_btm-15">View Details
    <input type="button" value="Edit PCGC" id="edit-pcgc" class="edit-pcgc farCare-btn"></h3>
    <div class="row">
      <div class="choose-cmpny">
          <%= select_tag 'company_name', options_for_select(@pcga.collect{ |u| [u.company_name, u.id]},@care_giver_company.id),:class => "custom-select", :id => "pcga_company" %>
        </div>
    </div>
    </div>

    <%= render "shared/edit_pcga" %>

    <%= link_to (button_tag "Cancel",:type => 'button',:class => "farCare-btn cancel"), edit_pcga_home_path(@care_giver_company.id), :id => "pcgc_edit_cancel" %>
    </div>
    </div>
