<!-- <link href="/assets/accordian.css" rel="stylesheet" type="text/css" /> -->

<div id="content-block">
    <div class="breadcrum">
      <ul>
        <li><%= link_to "Home",pcga_home_index_path %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", width: "4", height: "7" %></li>
        <li>Services</li>
      </ul>
    </div>
    <h3 class="clear">Services</h3>
    <div id="firstpane" class="accordian-list h-btm"> <!--Code for menu starts here-->
        <% @categories.service_categories.each do |category| %>
            <p class="accordian-head"><%= category.name %><span class="arrow"></span><span class="delete-accordian" onclick="deleteCategory(this,<%= category.id %>);"></span></p>

            <div class="accordian-body">
                <ul id="category-<%= category.name %>">
                    <% if category.services.present? %>
                        <% category.services.each do |service| %>
                            <li><%= service.name %><span class="delete-sub" onclick="deleteService(this,<%= service.id %>);"></span></li>
                        <% end %>
                    <%# else %>
                            <!-- <li>No services are available</li> -->
                    <% end %>
                    <li class="last"><input type="text" class="add-service-inpt" maxlength="65"/>
                        <a class="farCare-btn add-service-btn" onclick="saveServices(<%= category.id %>,'<%= category.name %>');">Add Service Item</a>
                    </li>
                </ul>
            </div>
        <% end %>
  </div>
    <div class="row new-category-section">
        <%= form_for :category , :html => {id: 'categorySaveForm'}, url: 'save_category' do |f| %>
            <%= f.text_field :name , id: "cat_name" ,:maxlength => 65 %>
          <%= f.submit "New Category" ,class: "farCare-btn new-category" %>
        <% end %>
    </div>
  </div>

  <script type="text/javascript">

        //slides the element with class "accordian-body" when paragraph with class "accordian-head" is clicked

        $("#firstpane p.accordian-head").click(function()
            {
                if (!$(this).hasClass("active")) {
                        $(this).addClass("active").next("div.accordian-body").slideToggle(300);
                }
            else {
                $(this).removeClass("active").next("div.accordian-body").slideToggle(300);
            }
        });

        $('#categorySaveForm').submit(function(){
            $(this).find('.error').remove();
            if($.trim($('#cat_name').val()) != ""){
                if(/^['&,"a-zA-Z0-9_ \/ \\ \^ \$ \[ \] \( \) \{ \} \-&_]+$/i.test($.trim($('#cat_name').val())) == true){
                    return true;
                }else{
                    $(this).append('<div class="error category-error">'+
                                    'Please enter a valid category!</div>');
                    return false;
                }

            }else{
                $(this).append('<div class="error category-error">Please enter a category!</div>');
                return false;
            }
        });

        function saveServices(category,elem){
            var e = document.getElementById('category-'+elem)
            var input = $(e).find('.add-service-inpt').val();
            $(e).find('.last').find('.error').remove();
            if ($.trim(input) != ""){
                if(/^[a-zA-Z0-9_ \/ \\ \^ \$ \[ \] \( \) \{ \} \- &_]+$/i.test(input) == true)
                    $.ajax({
                        url: '/pcga/save_services',
                        type: 'POST',
                        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').
                                attr('content'));},
                        data:{category_id: category, name: input},
                        success: function(data){
                            if(data["error"]){
                                $(e).find('.last').append('<div class="error service-error">'+
                                                           'Service already exist for this company!</div>');
                            }else{
                                if(data != "undefined"){
                                $(e).find('.last').before('<li>'+data["name"]+'<span class="delete-sub"'+
                                    'onclick="deleteService(this,'+data["service_id"]+');">'+
                                    '</span></li>');
                                $(e).find('.add-service-inpt').val("");
                            }
                            }
                        }
                    })
                else{
                    $(e).find('.last').append('<div class="error service-error">'+
                                                   'Please enter a valid service!</div>');
                }
            }else{
                $(e).find('.last').append('<div class="error service-error">'+
                                                   'Please enter a service!</div>');
            }


        }

        function deleteService(a,service_id){
            var link = $(this).attr('href');
              jConfirm('Do you really want to delete?','Confirmation', function(c){
                if(c == true){
                    $.ajax({
                        url: '/pcga/delete_services',
                        type: 'POST',
                        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').
                                attr('content'));},
                        data:{service_id: service_id},
                    }).done(function(){
                        $(a).parent().remove();
                    });
                }
              });
        }

        function deleteCategory(a,category_id){
            var link = $(this).attr('href');
              jConfirm('Do you really want to delete?','Confirmation', function(c){
                if(c == true){
                    $.ajax({
                        url: '/pcga/delete_category',
                        type: 'POST',
                        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').
                                attr('content'));},
                        data:{category_id: category_id},
                    }).done(function(){
                        $(a).parent().next('.accordian-body').remove();
                        $(a).parent().remove();
                    });
                }
              });
        }

        $('.delete-accordian').click(function(e){
            e.stopPropagation();
        });

</script>


