  <div id="content-block">
    <div class="breadcrum">
      <ul>
        <li><%= link_to "PCGC",admin_home_index_path, :id => "pcgc_breadcrum_link" %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width =>"4", :height => "7" %></li>
        <li>Add PCGC</li>
      </ul>
    </div>
    <h3 class="clear">Add PCGC</h3>
    <h4>Company Details</h4>
    <%= simple_form_for(@care_giver_company, :url => pcga_home_index_path, method: :post, validate: true) do |f| %>
        <div class="inputs">
          <div class="row">
            <div class="first-input-box">
              <p><label>Company name</label> <span class="mandatory">*</span></p>
              <%= f.text_field :company_name %>
            </div>
            <div class="input-box">
              <p>Company Type <span class="mandatory">*</span></p>
              <%= f.select(:company_type_id, CompanyType.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select company_type"}) %>
            </div>
          </div>

          <div class="row">
            <div class="first-input-box">
              <p><label>Country</label><span class="mandatory">*</span></p>
              <%= f.select(:pcgc_country, Country.all.collect {|a| [a.name, a.name]}, {:include_blank => "Please select"},{class: "custom-select", :id => "country"}) %>
            </div>
            <div class="input-box">
              <p><label>Address 1</label><span class="mandatory">*</span></p>
              <%= f.text_field :address_1 , :id => "addr_1"%>
            </div>
          </div>

          <div class="row">
            <div class="first-input-box">
              <p><label>Address 2</label></p>
              <%= f.text_field :address_2, :id => "addr_2" %>
            </div>
            <div class="input-box">
              <p><label>City</label><span class="mandatory">*</span></p>
              <%= f.text_field :city, :id => "city" %>
            </div>
          </div>

          <div class="row">
            <div class="first-input-box">
              <p><label>State</label><span class="mandatory">*</span></p>
              <%= f.select(:pcgc_state, State.all.collect {|a| [a.name, a.name]}, {:include_blank => "Please select"},{class: "custom-select", :id => "state"}) %>
            </div>
            <div class="input-box">
              <p><label>Zip</label><span class="mandatory">*</span></p>
              <%= f.text_field :zip, :id => "zip" %>
            </div>
          </div>

          <div class="row">
            <div class="first-input-box">
              <p><label>Phone</label><span class="mandatory">*</span></p>
              <%= f.text_field :phone, :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
            </div>
            <div class="input-box">
              <p><label>Fax</label></p>
              <%= f.text_field :fax %>
            </div>
          </div>

          <div class="row">
            <div class="first-input-box">
              <p><label>Website</label></p>
              <%= f.text_field :website %>
            </div>
            <div class="input-box">
              <p><label>Year Founded</label></p>
              <%= f.text_field :year_founded %>
            </div>
          </div>

        </div>

        <h4>Administrator Details</h4>
        <div class="inputs">


      <div class="row">
        <div class="first-input-box">
          <p><label>First Name</label><span class="mandatory">*</span> </p>
          <%= f.text_field :admin_first_name%>
        </div>
        <div class="input-box">
          <p><label>Last Name</label><span class="mandatory">*</span></p>
          <%= f.text_field :admin_last_name%>
        </div>
      </div>

      <div class="row">
        <%= f.fields_for :user do |user| %>
          <div class="first-input-box">
            <p><label>Email</label><span class="mandatory">*</span></p>
            <%= user.text_field :email %>
          </div>
        <% end %>
        <div class="input-box">
          <p><label>Phone</label><span class="mandatory">*</span></p>
          <%= f.text_field :admin_phone, :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
        </div>
      </div>

      <div class="row h-btm">
        <div class="first-input-box">
          <p>Time Zone </p>
          <%= f.select(:admin_time_zone, TimeZone.sort_by_name.collect {|a| [a.name, a.value]}, {:include_blank => "Please select"},{class: "custom-select"}) %>
        </div>
      </div>

    </div>

    <h5>Alternative Contact Person</h5>
    <div class="inputs">

      <div class="row">
        <div class="first-input-box">
          <p><label>First Name</label></p>
          <%= f.text_field :alt_first_name %>
        </div>
        <div class="input-box">
          <p><label>Last Name</label></p>
          <%= f.text_field :alt_last_name %>
        </div>
      </div>

      <div class="row h-btm">
        <div class="first-input-box">
          <p><label>Email</label></p>
          <%= f.text_field :alt_email %>
        </div>
        <div class="input-box">
          <p><label>Phone</label></p>
          <%= f.text_field :alt_phone, :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
        </div>
      </div>

    </div>

    <h4>Subscription Details</h4>
    <div class="inputs">

      <div class="row h-btm">
        <div class="first-input-box">
          <p><label>Package Type</label><span class="mandatory">*</span> </p>
          <%= f.select(:package_type_id, PackageType.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select package_type"}) %>
        </div>
        <div class="input-box">
          <p><label>Payment Method</label><span class="mandatory">*</span></p>
          <%= f.select(:subscription_type_id, SubscriptionType.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select subscription_type"}) %>
        </div>
      </div>

    </div>

    <h4>Billing Address</h4>
    <div class="inputs">

      <div class="row">
        <fieldset class="radios">
          <label class="label_radio ">
            <%= f.radio_button :checked, 1, :id => 'same_adrs' %>
            Same Address</label>
          <label class="label_radio ">
            <%= f.radio_button :checked, 0, :id => 'different_adrs' %>
            Different Address</label>
        </fieldset>
      </div>

      <div class="row">
        <div class="first-input-box">
          <p><label>Country</label><span class="mandatory">*</span></p><span id ="copy_country_error"
                class="custom-error"></span>
          <%= f.select(:subscription_country, Country.all.collect {|a| [a.name, a.name ]}, {:include_blank => "Please select"},{class: "custom-select", :id => "copy_country"}) %>
        </div>
        <div class="input-box">
          <p><label>Address 1</label><span class="mandatory">*</span></p><span id ="copy_addr1_error"
                class="custom-error"></span>
          <%= f.text_field :subscription_address_1, :id => "copy_addr1" %>
        </div>
      </div>

      <div class="row">
        <div class="first-input-box">
        <p><label>Address 2</label></p>
          <%= f.text_field :subscription_address_2, :id => "copy_addr2" %>
        </div>
        <div class="input-box">
          <p><label>City</label><span class="mandatory">*</span></p><span id ="copy_city_error"
                class="custom-error"></span>
          <%= f.text_field :subscription_city, :id => "copy_city" %>
        </div>
      </div>

      <div class="row h-btm">
        <div class="first-input-box">
          <p><label>State</label><span class="mandatory">*</span> </p><span id ="copy_state_error"
                class="custom-error"></span>
          <%= f.select(:subscription_state, State.all.collect {|a| [a.name, a.name ]}, {:include_blank => "Please select"},{class: "custom-select", :id => "copy_state"}) %>
        </div>
        <div class="input-box">
          <p><label>Zip Code</label><span class="mandatory">*</span></p><span id ="copy_zip_error"
                class="custom-error"></span>
          <%= f.text_field :subscription_zip,:id => "copy_zip"  %>
        </div>
      </div>

    </div>
    <div class="row">
    <p class="footer-note"><span class="mandatory">*</span> Mandatory fields</p>
        <%= f.submit "Add", value: "Submit", class: "farCare-btn submit first-btn", :disable_with => 'Submit' %>
      <% end %>
      <%= link_to (button_tag "Cancel",:type => 'button',:class => "farCare-btn cancel"), admin_home_index_path, :id => "pcgc_new_cancel" %>
    </div>
  </div>


<script type="text/javascript">
  $(function(){

    $('#new_care_giver_company').bind('submit', function() {
      $(this).find(':input').removeAttr('disabled');
    });

    updateStates($('#country').val(),'country');
    updateStates($('#copy_country').val(),'copy_country');

    $('#same_adrs').click(function(){
      $('.custom-error').empty();
      var country = $('#country').val();
      updateSameAddStates(country,'copy_country');
      $('#copy_country').next().html($('#country').next().html());
      $('#copy_state').next().html($('#state').next().html());
      $("#copy_addr1").val($("#addr_1").val());
      $("#copy_addr2").val($("#addr_2").val());
      $("#copy_city").val($("#city").val());
      $("#copy_zip").val($("#zip").val());
      $("#copy_country").val($("#country").val());
      $("#copy_country, #copy_state").attr("disabled", true)
      $("#copy_addr1, #copy_addr2, #copy_city, #copy_zip").prop('readonly', true);
    });

    $('#different_adrs').click(function(){
      $("#copy_addr1, #copy_addr2, #copy_city, #copy_zip").prop('readonly', false);
      $("#copy_country, #copy_state").attr("disabled", false);

      $("#copy_addr1, #copy_addr2, #copy_city, #copy_zip, #copy_country, #copy_state").change().focusin();
      $('#copy_addr1, #copy_addr2, #copy_city, #copy_zip, #copy_country, #copy_state').val('');
      $('#copy_country').next().html("Please select");
      $('#copy_state').next().html("Please select");
      $("#copy_country option").each(function(){
        $(this).attr('selected', false);
      })
       $("#copy_country, #copy_state").change().focusout();
      // $("#copy_country option").filter(function() {
      //   return $(this)[0].value == ''
      // }).attr('selected', true);
      // $("#copy_state option").filter(function() {
      //   return $(this)[0].value == ''
      // }).attr('selected', true);
      // updateStates($('#copy_country').val(),'copy_country');
    });

    $('#country').change(function(){
      console.log("country changed");
      updateStates($(this).val(),'country');
      $('#state').next().html('Please select');
    });

    $('#copy_country').change(function(){
      console.log("consoleopy_country changed");
      updateStates($(this).val(),'copy_country');
      $("#copy_state option").filter(function() {
        return $(this)[0].value == ''
      }).attr('selected', true);
      $('#copy_state').next().html('Please select');
    });



    function updateStates(value,str){
      $.ajax({
        type: "POST",
        dataType: 'script',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},
        url: '/pcga/home/get_state_list_pcga',
        data: {country: value, type: str},
      });
    }


    function updateSameAddStates(value,str){
      $.ajax({
        type: "POST",
        dataType: 'script',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},
        url: '/pcga/home/get_state_list_pcga',
        data: {country: value, type: str},
      }).done(function() {
        $("#copy_state option").filter(function() {
          return $(this)[0].value == $('#state').val()
        }).attr('selected', true);

        $("#copy_country option").filter(function() {
          return $(this)[0].value == $('#country').val()
        }).attr('selected', true);

      });
    }
  });


$('.company_type').focusout(function(){
    validation(".company_type");
  });

  $('.package_type').focusout(function(){
    validation(".package_type");
  });
  $('.subscription_type').focusout(function(){
    validation(".subscription_type");
  });

  $('#country').focusout(function(){
    validation("#country");
  });
  $('#state').focusout(function(){
    validation("#state");
  });

  $('.submit').click(function(){
    validation_submit("#country");
    validation_submit("#state");
    validation_submit(".subscription_type");
    validation_submit(".package_type");
    validation_submit(".company_type");
  });

function validation(class_name){
    if ($(class_name).val() == ''){
      $(class_name).parent().next().hide();
      $(class_name).parent().next().next().remove();
    }
}

function validation_submit(class_name_submit){
  if ($(class_name_submit).val() == ''){
    $(class_name_submit).parent().next().show();
    $(class_name_submit).parent().next().next().remove();
  }
}

$('#new_care_giver_company').submit(function(event){
  $('.custom-error').empty();
  var elems = [ '#copy_country', '#copy_addr1', '#copy_state', '#copy_city', '#copy_zip'];
  is_validate = subscriptionValidation(elems);
  if(is_validate == 1){
    return true;
  } else{
    event.preventDefault();
  }
});


function subscriptionValidation(elems){
  var flag =1;
  $.each(elems, function(i, item){
    if($(item).val() == ""){
      flag = 0;
      $(item+'_error').text("cant be blank");
    } 
    // else{
    //   if($(item).selector == '#copy_zip'){
    //     flag = checkZip($(item).val())
    //   }
    // }
  });
  return flag;
}

// function checkZip(zip){
//     var re = /[^0-9]/g;
//     if (re.test(zip)) {
//       $('#copy_zip_error').text("is not a number");
//       flag = 0;
//     }
//     else{
//       flag = zip.length != 5 ? setErrorMsg(zip) : 1;
//       }
//     return flag;
//   }

  function setErrorMsg(zip){
    msg = zip.length > 5 ? "is too long (maximum is 5 characters)" : "is too short (minimum is 5  characters)";
    $('#copy_zip_error').text(msg);
    return 0;
  }





</script>
