<div id="outer-wrapper">
  <h1 id="login-logo"><%= image_tag "devise-logo.png", :width => "141", :height => "60"%></h1>
  <div id="login-wrapper">
    <div id="login-cnt">
      <h2>Set your password</h2>

      <div id="login_error">
  		 <% if flash[:errors] %>
          <div class="error"><%= flash[:errors] %></div>
        <% end %>
      </div>
      <p class="flash-error-home">&nbsp;</p>
      <%= simple_form_for(@user, :url => update_password_path(@user, 
      :set_password_token => @token), :html => { :method => :post, :id => 'password_reset' }) do |f| %>	
        <div class="row-box">
          <%= f.password_field :password, :autofocus => true, placeholder: "New password" ,id: "password"%>
        </div>

        <div class="row-box">
          <%= f.password_field :password_confirmation, placeholder: "Confirm password", id: "password_confirmation" %>
        </div>

        <div class="row-box">
        	<%= f.submit "Change my password", :class => "farCare-btn login" %>
        </div>

      <% end %>
      
      <div class="login-btm-bg">
        <%= image_tag "login-btm-bg.png", :width => "391", :height => "6" %>
      </div>
    </div>
  </div>
  <div id="login-footer">
    <p>©2014 HomaCare All rights reserved</p>
  </div>
</div>


<script type="text/javascript">
$(function(){
  $("#password_reset").submit(function(event){
        $("p.error-home, p.flash-error-home").html("&nbsp;");
      if($.trim($("#password").val())==""){
        event.preventDefault()
        $("p.flash-error-home").html("Password can't be blank");
      }
      else if($.trim($("#password_confirmation").val())==""){
          event.preventDefault()
          $("p.flash-error-home").html("Password confirmation can't be blank");
      }
      else if ($.trim($("#password").val()) != $.trim($("#password_confirmation").val())){
          event.preventDefault()
          $("p.flash-error-home").html("Password doesn't match Confirmation Password");
      }
       else if ($.trim($("#password").val()).length < 8 ){
          event.preventDefault()
          $("p.flash-error-home").html("Minimum 8 characters");
      }

  });
}); 
</script>