  <div id="header-block">
    <div id="header">
      <h1 id="logo"><%= link_to image_tag("logo.png", :width => "116", :height => "49"), web_root_path %></h1>
      <div id="menu">
        <ul>
            <li class="welcome">Welcome Admin</li>
            <li><%= link_to "", admin_home_index_path, class: "#{params[:action].eql?("index") ? "home toolTip active" : "home toolTip"}", title: "Home" %></li>
            <li><a href="" class="help toolTip" title="Help"></a></li>
            <li><%= link_to "",admin_settings_path, class: "#{params[:action].eql?("settings") ? "settings toolTip active" : "settings toolTip"}", title: "Settings", id: 'settings' %></li>
            <li><%= link_to "", destroy_user_session_path, method: :delete, :class => "logout toolTip", title: "Logout", id: "Logout" %></li>
        </ul>
      </div>
    </div>
    <div id="banner">
      <%= image_tag "banner.png", :width =>"1366", :height => "106" %>
    </div>
  </div>