<div id="header-block">
  <div id="header">

    <h1 id="logo"><%= link_to image_tag(pcga_home_logo, style: "max-height: 49px;max-width: 116px;"), pcg_home_index_path %></h1>
    <div id="menu">
      <ul>
        <li class="welcome" floar> Welcome <%= link_to current_user.care_giver.first_name+ " " +current_user.care_giver.last_name , pcg_settings_view_profile_path(current_user.care_giver.id), style: "display:inline"%></li>
        <li><%= link_to "", pcg_home_index_path, class: "#{params[:action].eql?("index") ? "home toolTip active" : "home toolTip"}", title: "Home" %></li>
        <li><a href="#" class="help toolTip" title="Help"></a></li>
        <li><%= link_to "",pcg_settings_view_profile_path(current_user.care_giver.id), class: "#{params[:action].include?("settings") ? "settings toolTip active" : "settings toolTip"}", title: "Settings" %></li>
        <li><%= link_to "", destroy_user_session_path, method: :delete, :class => "logout toolTip", title: "Logout", id: "Logout"%></li>
      </ul>
    </div>
  </div>
  <div id="banner">
    <div id="nav">
      <div id="nav-wrapper">
        <% if time_zone != nil %>
          <span class="stdTime"><%= time_zone %></span>
        <% end %>
          <ul>
            <li>
              <%= link_to "Invite Family", "#", class: "coming_soon #{
                if params[:controller] == "pcg/home" 
                  ["invite_family"].include?(params[:action]) ? "active" : ""
                end }"
              %>
            </li>
            <li>
              <%= link_to "Care Clients", pcg_home_index_path, class: "#{
                if params[:controller] == "pcg/home" || params[:controller] == "fcg/home" 
                  ["index", "edit","view_my_services", "edit_my_services", "care_client_services"].include?(params[:action]) ? "active" : ""
                end }"
              %>
            </li>
            <li>
              <%= link_to 'Calender', "/pcg/vacation/#{current_user.care_giver.id}", class: "#{
                if params[:controller] == "pcg/vacation_management" 
                  ["index"].include?(params[:action]) ? "active" : ""
                end }"
              %>
            </li> 
          </ul>
      </div>
    </div>
    <%= image_tag "banner.png", :width =>"1366", :height => "106" %>
  </div>
  </div>