<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="display: table;margin: 0 auto;background-color:#fff;border:1px solid #e4e4e4;max-width:640px;" align="center"> 
		<center style="padding: 20px 0px"><%= image_tag(attachments['logo.png'].url, style: "max-height: 49px;max-width: 116px;") %></center>
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px;"> 
			<tr align="center" valign="top" bgcolor="#26a7e9">
				<th style="background-color: #26a7e9;font-weight: normal;font-size: 22px;padding:15px 20px;color:#fff;font-family:arial;" width="50%" colspan="2">Auto Schedule Summary</th>
			</tr>
			<tr align="left" valign="top" style="background-color:#f7f7f7;">
				<td width="50%" style="padding:15px 20px;text-align:left;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#222;font-size:15px;font-family:arial;">Successful : <%= @summary[:successful_events].length %></td>
				<td width="50%" style="padding:15px 20px;text-align:left;border-bottom:1px solid #e4e4e4;color:#222;
			font-size:15px;font-family:arial;">Failed : <%= @summary[:failed_events].length %></td>
			</tr>
		</table>
		<div style="display:block;padding:0 20px;">
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px;"> 
			<tr align="left" valign="top" bgcolor="#e7e7e7">
				<th  style="background-color: #fff;color: #232323;font-weight: normal;font-size: 18px;font-family:arial;padding-bottom:20px;font-family:arial;" width="50%"  colspan="4">Failed Events</th>
			</tr>
			<tr align="left" valign="top">
				<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">Title</th>
				<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">CC Name</th>
				<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">Service From</th>
				<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">Service To</th>
			</tr>
			<% if @summary[:failed_events].empty? %>
				<tr align="left" valign="top">
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;border:1px solid #e4e4e4;" colspan="4">No record found!</td>
				</tr>
			<% else %>
				<% @summary[:failed_events].each do |event|%>
				<tr align="left" valign="top">
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;"><%= event.title %></td>
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;"><%= event.item.fullname %></td>
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;"><%= event.starttime.strftime("#{event.starttime.day.ordinalize} %B %y at %I:%M%p") %></td>
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;border-right:1px solid #e4e4e4;font-family:arial;"><%= event.endtime.strftime("#{event.starttime.day.ordinalize} %B %y at %I:%M%p") %></td>
				</tr>
				<% end %>
			<% end %>
		</table>
		</div>
				<div style="display:block;padding:0 20px;">
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px;"> 
			<tr align="left" valign="top" bgcolor="#e7e7e7">
				<th  style="background-color: #fff;color: #232323;font-weight: normal;font-size: 18px;font-family:arial;padding-bottom:20px;font-family:arial;" width="50%"  colspan="5">Successful Events</th>
			</tr>
			<tr align="left" valign="top">
				<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">Title</th>
				<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">CC Name</th>
				<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">Service From</th>
				<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">Service To</th>
			<th style="padding:15px 8px;text-align:left;background-color:#2c3e50;color:#cbdbeb;font-size:13px;font-weight:normal;font-family:arial;">Assigned HHA</th>
			</tr>
			<% if @summary[:successful_events].empty? %>
				<tr align="left" valign="top">
					<td style="padding:15px 8px;text-align:left;border:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;border:1px solid #e4e4e4;" colspan="5">No record found!</td>
				</tr>
			<% else %>
				<% @summary[:successful_events].each do |event|%>
				<tr align="left" valign="top">
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;"><%= event.title %></td>
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;"><%= event.item.fullname %></td>
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;"><%= event.starttime.strftime("#{event.starttime.day.ordinalize} %B %y at %I:%M%p") %></td>
				<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;font-family:arial;"><%= event.endtime.strftime("#{event.starttime.day.ordinalize} %B %y at %I:%M%p") %></td>
					<td style="padding:15px 8px;text-align:left;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#4e4e4e;font-size:13px;border-right:1px solid #e4e4e4;font-family:arial;"><%= event.cc_assigned_event.care_giver.fullname rescue nil%></td>
				</tr>
				<% end %>
			<% end %>
		</table>
		</div>
		<center><div id="footer"><p style="color:#a6a6a6;font-size:12px;font-family:arial;">&copy;2014 HomaCare All rights reserved</p></div></center>
	</div>
</body>
</html>