<script type="text/javascript">
  $( document ).ready(function() {
    scroll_offset = -96;
    scroll_top = 100;
    // initiate page scroller plugin
    $('body').pageScroller({
     navigation: '#landing-menu',
     scrollOffset: scroll_offset
   });
   //flex slider
   $(window).load(function(){
    $('.flexslider').flexslider({
      animation: "slide",
      pauseOnAction: false,
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });

 });
</script>

<!-- header starts here -->
<div id="section-landing-header">
  <div id="landing-header-block">
    <div id="header">
    <% image = @logo.nil? ? "landing-logo.png" : @logo.image %>
      <h1 id="logo"><%= link_to image_tag(image, style: "max-height: 60px;max-width: 149px;"), landing_page_url rescue nil %></h1>
      <div id="landing-menu">
        <ul>
          <li id="login-li" class="active"><a href="#section-login">Home <span></span></a></li>
          <li id="about-li"><a href="#section-about-us">About Us <span></span></a></li>
          <li id="contact-li" class="last"><a href="#section-contact-us">Contact Us <span></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- header ends here -->
<!-- Login starts here -->
<div id="section-login" class="section">
<% unless flash[:notice].nil? %>
<div class='farCare-notice'><%= flash[:notice] %><a href='#' class=close></a></div>
<% end %>

  <div id="login-inner">
    <div class="landing-login-wrapper relative">
      <div class="register-now">
        <%= simple_form_for(@care_client, url: create_path(@care_giver_company.id), method: :post, validate: true) do |f| %>
        <h2>Register Now</h2>
        <div class="row-home">
          <div class="fleft">
            <%= f.text_field :first_name, placeholder: "First Name *"%>
          </div>
          <div class="fright">
          <%= f.text_field :last_name, placeholder: "Last Name *", class: "last"%>
          </div>
        </div>
        <%= f.fields_for :user do |user| %>
        <div class="row-home">
          <div class="fleft"><%= user.text_field :email, placeholder: "Email *"%></div>
          <div class="fright">
          <%= f.text_field :time_zone, :value => company_time_zone, :disabled => true , class: "last", placeholder: "Time Zone" %>
        </div>
      </div>

      <% end %>
      <div class="row-home">
        <div class="fleft" style="width: 50%;"><%= f.text_field :telephone, placeholder: "Telephone *", :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %></div>
        <div class="fright"><%= f.text_field :mobile_no, placeholder: "Mobile No *", class: "last", :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %></div>
      </div>
      <div class="row-home">
        <div class="relative fleft"><%= f.text_field :dob, :class => "datepicker", placeholder: "Date Of Birth *",:readonly => true %></div>

    </div>
      <div class="row">
        <%= f.submit "Register", class: "register"%>
      </div>
      <% end %>
    </div>
    <div id="login-here">
      <div class="login-box company">
        <h3 class="company">Login</h3>
        <p class="flash-error-home"><%= flash[:alert].nil? ? "&nbsp;".html_safe : flash[:alert] %></p>
        <p class="error-home">&nbsp;</p>
        <div class="row">
          <%= form_tag login_path(@care_giver_company), id: "login-form" do %>
            <%= text_field_tag 'user[email]', nil, placeholder: "Email", id: "email" %>
            <%= password_field_tag 'user[password]', nil, placeholder: "Password", id: "password" %>
          <%=  submit_tag 'Login', class: "submit-landing" %>
          <% end %>
            </div>
            <div class="row forgot-psd"><%= link_to "Forgot Password?", new_user_password_path %></div>
          </div>
          <div class="what-is company">
            <% if @admin_setting.youtube_url.present? %>
              <a class="to_popup">Watch Us on Youtube</a>
            <% else %>
              <a href="#section-contact-us">What is <%= @care_giver_company.company_name%>?</a>
            <% end %> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login ends  here -->
  <!-- Abut Us starts here -->
  <div id="section-about-us" class="section">
    <div class="common-wrapper">
      <!--flexslider-->
      <div class="flexslider">
        <ul class="slides">
          <li> <%= image_tag "banner1.jpg" , height: '320', width: '940' %></li>
          <li> <%= image_tag "banner2.jpg" , height: '320', width: '940' %></li>
          <li> <%= image_tag "banner3.jpg" , height: '320', width: '940' %></li>
        </ul>
      </div>
      <ul class="listings">
        <%= @admin_setting.about_us.html_safe if @admin_setting.about_us.present?%>
      </ul>
    </div>
  </div>
  <!-- Abut Us ends here -->
  <!-- Contact Us starts here -->
  <div id="section-contact-us" class="section">
    <div class="section-contact-us">
      <div class="common-wrapper">
        <div class="address-box"> <%= image_tag "location.png", width: "73", height: "114"%>
          <div class="contact-us-p">
            <%= @admin_setting.contact_us.html_safe if @admin_setting.contact_us.present? %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- popup start-->
  <%= video_id = @admin_setting.youtube_url.match(/v=([\w|\W]+)$/)[1] rescue "" %>

    <div id="youtube_container" class="farCare-popup">
    <span class="youtube-close" style='display:block;'><a href="" class="close"></a></span>
    <div id='ytContent'></div>
]   </div>
  <!-- popup end -->
  <div id="backgroundPopup"></div>
  <!-- Contact Us ends here -->
  <script type="text/javascript">
    var format = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    $(function() {
      $("#login-form").submit(function(event){
        $("p.error-home, p.flash-error-home").html("&nbsp;");
      if($.trim($("#email").val())==""){
        event.preventDefault()
        $("p.error-home").html("Email can't be blank");
      }
      else if(!(format.test($("#email").val()))){
        event.preventDefault()
        $("p.error-home").html("Invalid email");
      }
      else if($.trim($("#password").val())==""){
          event.preventDefault()
          $("p.error-home").html("Password can't be blank");
      }
  });

      $('#time_zone').focusout(function(){
        validation("#time_zone")
      });

      $('.register').click(function(){
        validation_submit("#time_zone")
      });

      function validation(class_name){
        if ($(class_name).val() == ''){
          $(class_name).parent().next().hide();
          $(class_name).parent().next().next().remove();
          $(class_name).parent().next().hide();
          $(class_name).parent().next().next().remove();
        }
      }

      function validation_submit(class_name_submit){
        if ($(class_name_submit).val() == ''){
          $(class_name_submit).parent().next().show();
          $(class_name_submit).parent().next().next().next().remove();
        }
      }

      $(".datepicker").datepicker({
        onClose: function(dateText, inst) { $(inst.input).change().focusout(); },
        changeMonth: true,
        changeYear: true,
        dateFormat: 'mm-dd-yy',
        maxDate : new Date(),
        yearRange: "-100:+0",
        showMonthAfterYear : true
      });
    });


var player;
var playStatus = 1
function loadYtVideo(){
 var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
}

onYouTubePlayerAPIReady = function() {
    player = new YT.Player('ytContent', {
      height: '390',
      width: '640',
      videoId: "<%=video_id%>"
    });

  }

  loadYtVideo();

    $(".close").click(function() {
      var video_id  = "<%=video_id%>"
      player.seekTo(0);
      player.stopVideo();
      $("#care-clients").fadeOut("normal");
      $("#youtube_container").fadeOut("normal"); // fadein popup div
      $("#backgroundPopup").fadeOut("normal");
      $("#ytContent").hide();
  });

  $("a.to_popup").click(function() {
      $("div.loader").show();
      $("#ytContent").show();
      setTimeout(function(){ // then show popup, deley in .5 second
        $("div.loader").fadeOut('normal');
        $("#care-clients").fadeIn(0500); // fadein popup div
        $("#youtube_container").fadeIn(0500); // fadein popup div
        $("#backgroundPopup").css("opacity", "0.7"); // css opacity, supports IE7, IE8
        $("#backgroundPopup").fadeIn(0001); // function show popup
      }, 500); // .5 second
  return false;
    });
  </script>