<%= form_for @event, url: update_service_calendar_care_giver_path(@event), :html => { :id => 'event_form' } do |f| %>
<p>
  <%=f.label :title %>
  <br/>
  <%=f.text_field :title %>
</p>
<p>
  <%=f.label :description %>
  <br/>
  <%=f.text_area :description, :rows => 4, :cols => 30 %>
</p>
<p class="pop-time">
  <%=f.label :starttime, 'Start Time' %>
  <%=f.datetime_select :starttime , {minute_step: 15} , class: "custom-select" %>
</p>
<p class="pop-time">
  <%=f.label :endtime, 'End Time' %>
  <%=f.datetime_select :endtime , {minute_step: 15} , class: "custom-select" %>
</p>
<p>
  <div class = "checkbox_new">
    <%= f.check_box :all_day , id: "event-edit-check" %>
    <%=f.label :all_day , class: "label_check" , for: "event-edit-check", onclick: "FullcalendarEngine.Events.change_all_day('event-edit-check');" %>
  </div>
</p>

<p>

  <%=f.submit 'Update' ,class: "farCare-btn submit first-btn"%>

  <span id = "updating_events" class="spinner" style = "display:none;">Updating, Please wait...</span>
</p>
<%end %>

<script type="text/javascript">
$(function(){
  $('.label_check, .label_radio').click(function(){
      setupLabel();
    });
  setupLabel();
  $('#event_actions').hide();
  $('#event_desc_dialog').removeClass('event_action_list');
  $(".custom-select").each(function(){
    $(this).wrap("<span class='select-wrapper'></span>");
    $(this).after("<span class='holder'></span>");
    var selectedOption = $(this).find(":selected").text();
    $(this).next(".holder").text(selectedOption);
  });
  $(".custom-select").change(function(){
    var selectedOption = $(this).find(":selected").text();
    $(this).next(".holder").text(selectedOption);
    FullcalendarEngine.Events.showPeriodAndFrequency(this.value);
  });

  if($('#event-edit-check').is(':checked')){
    FullcalendarEngine.disable_hour_minute($("#event_starttime_4i"));
    FullcalendarEngine.disable_hour_minute($("#event_starttime_5i"));
    FullcalendarEngine.disable_hour_minute($("#event_endtime_4i"));
    FullcalendarEngine.disable_hour_minute($("#event_endtime_5i"));
  }

});

 function setupLabel() {
    if ($('.label_radio input').length) {
        $('.label_radio').each(function(){
            $(this).removeClass('r_on');
        });
        $('.label_radio input:checked').each(function(){
            $(this).parent('label').addClass('r_on');
        });
    }
  }
</script>