<%= form_for Event.new, url:  create_service_calendar_care_giver_path , :html => { id: 'event_form' } do |f| %>

<p>
  <%=f.label :title %>
  <%=f.text_field :title %>
</p>
<p>
  <%=f.label :description %>
  <%=f.text_area :description, :rows => 4, :cols => 30 %>
</p>
<p class="pop-time">
  <%=f.label :starttime, 'Start Time' %>
  <%=f.datetime_select :starttime, {minute_step: 15} , class: "custom-select" %>
</p>
<p class="pop-time">
  <%=f.label :endtime, 'End Time' %>
  <%=f.datetime_select :endtime , {minute_step: 15}, class: "custom-select" %>
</p>
<p>
  <div class = "checkbox_new">
    <%= f.check_box :all_day %>
    <%=f.label :all_day , class: "label_check", onclick: "FullcalendarEngine.Events.change_all_day('event_all_day');" %>
  </div>
</p>
<p class="repeats">
  <%=f.label :period, "Repeats" %>
  <%=f.select :period, Event::REPEATS.values,  {}, class: "custom-select callChange" %>
</p>

<ul id="week_day" class="weeks" style = "display:none;">
  <% EventSeries::WEEKDAYS.each do |key, value| %>
    <li>
      <div class = "checkbox_new">
        <%= check_box_tag "weekdays[]", key, nil, id: value %>
        <%= label_tag  value %>
      </div>
    </li>
  <% end %>
</ul>


<p id = "frequency" style = "display:none;">
  <%=f.label :frequency, "Repeat every" %>
  <%=f.select :frequency, (1..30).to_a ,{},class: "custom-select" %> <span id = "period"></span>
</p>

<p id = "until" style = "display:none;">
  <%=f.label :upto, "Repeat upto" %>
  <%=f.date_select :upto,{},class: "custom-select" %>
</p>


<p>
  <%= f.submit "Add", value: "Create", class: "farCare-btn submit first-btn" %>
  <span id = "creating_events" class="spinner" style = "display:none;">Creating, Please wait...</span>
</p>
<% end %>


<script type="text/javascript">
$(function(){
  $(".custom-select, .custom-selectnw").each(function(){
    $(this).wrap("<span class='select-wrapper'></span>");
    $(this).after("<span class='holder'></span>");
    var selectedOption = $(this).find(":selected").text();
    $(this).next(".holder").text(selectedOption);
  });
  $(".custom-select, .custom-selectnw").change(function(){
    var selectedOption = $(this).find(":selected").text();
    $(this).next(".holder").text(selectedOption);
  });
  $(".callChange").change(function(){
    FullcalendarEngine.Events.showPeriodAndFrequency(this.value);
  });
});
</script>