<div id="outer-wrapper">
  <h1 id="login-logo"><%= image_tag "devise-logo.png", :width => "141", :height => "60"%></h1>
  <div id="login-wrapper">
    <div id="login-cnt">
      <h2>Login</h2>

      <div id="login_error">
        <% flash.each do |name, msg| %>
          <% if msg.class == Array %>
            <% msg.each do |message| %>
              <%= content_tag :div, message, :id => "flash_#{name}" %>
            <% end %>
          <% else %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        <% end %>
      </div>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),) do |f| %>
        <div class="row-box">
          <%= f.text_field :email, :placeholder => "Email" , :id => "login_email"%>
        </div>

        <div class="row-box">
          <%= f.password_field :password, placeholder: "Password" %>
        </div>

        <div class="row-box">
          <%= f.submit "Login", :class => "farCare-btn login", :id => "login_submit" %>
        </div>

      <% end %>

      <div class="row-box">
        <p  class="frgt-psd"><%= link_to "Forgot Password ?", new_user_password_path %></p>
      </div>
      
      <div class="login-btm-bg">
        <%= image_tag "login-btm-bg.png", :width => "391", :height => "6" %>
      </div>
    </div>
  </div>
  <div id="login-footer">
    <p>©2014 HomaCare All rights reserved</p>
  </div>
</div>


