<div class="breadcrum">
  <ul>
    <li><a href="">Home</a></li>
    <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7"%></li>
    <li>PCGC</li>
  </ul>
</div>
<h3 class="clear relative m_btm-15">Professional Caregiver Company
  <!-- <input type="button" value="Add PCGC" class="add-pcgc farCare-btn" />   -->
  <%= link_to "Add PCGC",  new_pcga_home_path, class: "add-pcgc farCare-btn", id: 'Add-PCGC'%>
</h3>
<div class="row">

  <div class="search relative">
    <%= form_tag admin_home_index_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "Search" %>
      <%= submit_tag "", :name => nil, :class => "search-icon"%>
    </p>
    <% end %>
  </div>
</div>
<div class="row">
  <table width="100%" cellspacing="0" cellpadding="0" class="farCare-tble">
    <tr>
      <% unless @care_companies.empty? %>
      <th><%= sortable "company_name", "Company Name" %></th>
      <th><%= sortable "company_type", "Company Type" %></th>
      <th><%= sortable "admin_first_name", "PCGA" %></th>
      <th><%= sortable "phone" %></th>
      <th><%= sortable "package_type", "Package" %></th>
      <th>Custom Url</th>
      <!-- <th>Expires On</th> -->
      <th><%= sortable "active_care_givers", "Active #{change_name("pcg")}s"%></th>
      <th><%= sortable "active_care_clients", "Active CCs"%></th>
      <th><%= sortable "status" %></th>
      <th>&nbsp;</th>
      <% else %>
      <th>Company Name</th>
      <th>Company Type</th>
      <th>PCGA</th>
      <th>Phone</th>
      <th>Package</th>
      <th>Custom Url</th>
      <!-- <th>Expires On</th> -->
      <th>Active PCGs</th>
      <th>Active CCs</th>
      <th>Status</th>
      <th>&nbsp;</th>
      <% end %>
    </tr>

    <% unless @care_companies.empty? %>
    <% @care_companies.each do |company| %>
    <% name = company.admin_fullname %>
    <tr class="pcgc_row">
      <input type="hidden" class="company_id" value=<%= company.id %>>
      <td><%= link_to company.company_name, edit_pcga_home_path(company.id) %></td>
      <td><%= company.company_type.name if company.company_type %></td>

      <td class="toolTip" title="<%= name %>"><%= name.truncate(15)%></td>
      <td><%= company.phone %></td>
      <td><%= company.package_type.name if company.package_type %></td>
      <td><%= link_to image_tag("url.png",:width => "25", :class => "toolTip", :title => "www.homacare.net/#{company.admin_setting.custom_url}"),company_landing_path(company.admin_setting.custom_url) rescue nil %></td>
      <td><a href="" class=<%= company.active_caregivers_count.eql?(0) ? "" : "care_cliet_popup" %> id="farCare-popup-<%= company.id %>"><%= company.active_caregivers_count %></a></td>
      <td><%= company.active_care_clients_count %></td>
      <td class="status_change"><%= status(company.status, company.id, params[:page])%></td>
      <td class="last-td" ><%= link_to "", pcga_delete_company_path(company.id), class: "delete"%></td>
    </tr>
    <% end %>
    <% else %>
    <tr><td colspan="10" class="last-td">No Records Found</td></tr>
    <% end %>
  </table>
  <div class="row">
    <%= paginate @care_companies, :outer_window => 1 %>
  </div>
</div>
<% unless @care_companies.empty? %>
<% @care_companies.each do |company| %>
<!-- popup start-->
<% pcgs = company.active_caregivers %>

      <div id="care-clients" class="farCare-popup farCare-popup-<%= company.id %>">
        <a href="" class="close"></a>
        <h4 class="m_btm-0">Associated <%= change_name("Care Giver")%>s of <%= company.company_name %></h4>
          <div class="row">
          <div id="mcs_container<%= company.id%>" class="lists">
          <% scroll_style = pcgs.length < 5 ? "height:auto" : "" %>
          <div class="customScrollBox" style=<%= scroll_style %>>
            <div class="container">
            <div class="content">
            <ul class="client-lists">
      <% unless pcgs.empty? %>
      <% pcgs.each do |pcg|%>
      <li><%= link_to get_full_name(pcg), edit_pcg_home_path(pcg)%></li>
      <% end %>
      <% end %> 
            </ul>
            </div>
            </div>
            <div class="dragger_container">
                <div class="dragger"></div>
              </div>
            </div>
            </div>
          </div>
      </div>

<% end %>
<% end %>
<div id="backgroundPopup"></div>
<script type="text/javascript"> 
function mCustomScrollbars(id){
  var id_string = "#mcs_container"+id
  $(id_string).mCustomScrollbar("vertical",300,"easeOutCirc",1.05,"auto","yes","yes",15);  
} 
$(function() {

var timer;

$(".care_cliet_popup").mouseenter(function(){
   self = $(this);
   timer = setTimeout(function(){
      loadPopup(self)
   },1000)
}).mouseleave(function(){
   clearTimeout(timer);
});

});

  $(".close").click(function() {
    disablePopup();  // function close pop up
  });
  
  $(this).keyup(function(event) {
    if (event.which == 27) { // 27 is 'Ecs' in the keyboard
      disablePopup();  // function close pop up
    }   
  });
  
  $("div#backgroundPopup").click(function() {
    disablePopup();  // function close pop up
  });
  
  function loadPopup(self) { 
    var id_name = self.attr('id');
    $("div.loader").show();  
    $("div."+id_name).fadeIn(500); // fadein popup div
    $("#backgroundPopup").css("opacity", "0.7"); // css opacity, supports IE7, IE8
    $("#backgroundPopup").fadeIn(0001);
    var id = id_name.match(/\d+$/);
    mCustomScrollbars(id);      
  }
  function disablePopup() {
    $("div.loader").fadeOut('normal');
    $("#care-clients").fadeOut("normal"); 
    $(".farCare-popup").fadeOut("normal");
    $("#backgroundPopup").fadeOut("normal");  
  }



</script>
