<script type="text/javascript">
  $(document).ready(function(){
  $(".edit").hide();
  $( "#edit-fcg" ).click(function() {
    $('#state').val('<%= @care_client_current.state.id rescue nil%>');
    $(".input-hide-show .inpt").css("display","block");
    $(".hidden-block").css("display","block");
    $(".input-hide-show .select-wrapper").css("display","block");
    $(".input-hide-show .mandatory").css("display","inline-block");
    $(".input-hide-show .spn-txt").css("display","none");
    $(".display-block").css("display","none");
    $(".input-hide-show .inputs .row").css("padding-bottom","20px");
    $(".edit").show();
    $(".view").hide();
    $('#edit_care_client').resetClientSideValidations();
  });
})
</script>

<div class="breadcrum">
  <ul>
    <li><%= home_breadcrumb %></li>
    <li class="greater-than"><%= image_tag "greater-than.png", width: "4", height: "7" %></li>
    <li class="view"><%= care_clients_breadcrumb %></li>
    <li class="edit"><%= link_to "Care Clients",fcg_view_care_clients_path, :class => "confirm", :id => "fcg_edit_breadcrum_link" %></li>
    <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
    <li class="edit"><%= link_to "View Details",edit_fcg_home_path(@care_client_current.id), :class => "confirm", :id => "pcg_edit_view_breadcrum_link" %>
    <li class="greater-than edit"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
    <li class="edit" >Edit Care Client</li>
    <li class="view">View Details</li>
  </ul>
</div>
<div class="display-block">
  <% if @care_client %>
    <h3 class="clear relative m_btm-15">Care Clients
    <input type="button" value="Edit Care Client" id="edit-fcg" class="edit-care-client edit-pcgc farCare-btn"></h3>
  <% else %>
  <h3 class="clear relative m_btm-15">Care Client Details</h3>
  <% end %>
  <div class="row">
  <% if @care_client %>
    <div class="choose-cmpny">
        <%= select_tag 'last_name', options_for_select(@care_client.collect{ |u| [u.first_name+" "+u.last_name, u.id]},@care_client_current.id),:class => "custom-select", :id => "fcg_last_name" %>
    </div>
    <% end %>
  </div>
</div>
<h3 class="clear hidden-block">Edit Care Clients</h3>
<div class="input-hide-show">
  <%= simple_form_for(@care_client_current,:url => fcg_home_path, method: :patch, :validate => true, html: {id: 'edit_care_client'}) do |f| %>
    <h4>Personal Details</h4>
    <div class="inputs">
      <div class="row">
        <div class="first-input-box">
          <p>First Name <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.first_name rescue nil %></span>
          <%= f.text_field :first_name, :class => "inpt" %>
        </div>
        <div class="input-box">
          <p>Last Name <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.last_name rescue nil %></span>
          <%= f.text_field :last_name, :class => "inpt" %>
        </div>
      </div>
      <div class="row">
        <div class="first-input-box">
          <p>Home Address 1 <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.address_1 %></span>
          <%= f.text_field :address_1, :class => "inpt" %>
        </div>
        <div class="input-box">
          <p>Home Address 2 </p>
          <span class="spn-txt"><%= @care_client_current.address_2 %></span>
            <%= f.text_field :address_2, :class => "inpt" %>
        </div>
      </div>
      <div class="row">
        <div class="first-input-box">
        <p>Country <span class="mandatory">*</span></p>
        <span class="spn-txt"><%= @care_client_current.country.name rescue nil %></span>
        <%= f.select(:country_id, Country.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select country", :id => "country"}) %>
        </div>
        <div class="input-box">
          <p>Zip /Postal Code <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.zip %></span>
        <%= f.text_field :zip, :class => "inpt" %>
        </div>
      </div>
      <div class="row">
        <div class="first-input-box">
          <p>City <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.city %></span>
          <%= f.text_field :city, :class => "inpt" %>
        </div>
        <div class="input-box">
          <p>State <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.state.name rescue nil %></span>
          <%= f.select(:state_id, State.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select", :id => "state"}) %>
        </div>
      </div>
      <div class="row">
        <div class="first-input-box">
          <p>Mobile No. <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.mobile_no rescue nil %></span>
          <%= f.text_field :mobile_no, :class => "inpt", :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
        </div>
        <div class="input-box">
          <p>Telephone</p>
          <span class="spn-txt"><%= @care_client_current.telephone %></span>
          <%= f.text_field :telephone, :class => "inpt", :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
        </div>
      </div>
      <div class="row">
        <div class="first-input-box">
          <p>Email </p>
          <span class="spn-txt"><%= @care_client_current.user.email rescue nil %></span>
          <%= f.text_field :email, :value => @care_client_current.user.email,  :class => "inpt", :disabled => true %>
        </div>
        <div class="input-box">
          <p>Gender <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.gender %></span>
          <fieldset class="radios hidden-block">
            <label class="label_radio">
              <%= f.radio_button :gender, 'Male', :checked => true %>
              Male</label>
            <label class="label_radio">
              <%= f.radio_button :gender, 'Female' %>
              Female</label>
          </fieldset>
        </div>
      </div>
      <div class="row h-btm">
        <div class="first-input-box">
          <p>Date of Birth <span class="mandatory">*</span></p>
          <span class="spn-txt"><%= @care_client_current.dob.strftime("%m-%d-%Y") rescue nil %></span>
          <%= f.text_field :dob, :class => "inpt", :id => "datepicker", readonly: true, :value => f.object.dob.strftime("%m-%d-%Y") %>
        </div>
        <div class="input-box">
          <p>Telephony Id </p>
          <span class="spn-txt"><%= @care_client_current.telephony_no rescue nil %></span>
          <%= f.text_field :telephony_no, :class => "inpt" %>
        </div>
      </div>

      <div class="row h-btm">
        <div class="first-input-box">
          <p>Medical Record Number </p>
          <span class="spn-txt"><%= @care_client_current.medical_record_number rescue nil %></span>
          <%= f.text_field :medical_record_number, :class => "inpt" %>
        </div>
      </div>

    </div>

    <div class="display-block">
    <h4>Family Member</h4>
    <div class="inputs">
      <div class="row">
        <div class="first-input-box">
          <p>First Name </p>
          <span class="spn-txt">A123sendbb</span>
<input type="text" class="inpt">
        </div>
        <div class="input-box">
          <p>Last Name</p>
          <span class="spn-txt">A123sendbb</span>
<input type="text" class="inpt">
        </div>
      </div>

      <div class="row">
        <div class="first-input-box">
          <p>Home Address 1</p>
          <span class="spn-txt">A123sendbb</span>
<input type="text" class="inpt">
        </div>
        <div class="input-box">
          <p>Home Address 2</p>
          <span class="spn-txt">A123sendbb</span>
<input type="text" class="inpt">
        </div>
      </div>

      <div class="row">
        <div class="first-input-box">
          <p>City</p>
          <span class="spn-txt">A123sendbb</span>
          <textarea class="inpt"></textarea>
        </div>
        <div class="input-box">
          <p>State</p>
          <span class="spn-txt">A123sendbb</span>
          <textarea class="inpt"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="first-input-box">
          <p>Country</p>
          <span class="spn-txt">A123sendbb</span>
          <textarea class="inpt"></textarea>
        </div>
        <div class="input-box">
          <p>Zip/Postal Code</p>
          <span class="spn-txt">A123sendbb</span>
          <textarea class="inpt"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="first-input-box">
          <p>Mobile No</p>
          <span class="spn-txt">A123sendbb</span>
          <textarea class="inpt"></textarea>
        </div>
        <div class="input-box">
          <p>Alternate No</p>
          <span class="spn-txt">A123sendbb</span>
          <textarea class="inpt"></textarea>
        </div>
      </div>

      <div class="row h-btm">
        <div class="first-input-box">
          <p>Email</p>
          <span class="spn-txt">A123sendbb</span>
<input type="text" class="inpt">
        </div>
        </div>
    </div>
    <h4>Status</h4>
    <div class="inputs">
      <div class="row h-btm">
        <div class="first-input-box">
          <p>Status</p>
          <span class="spn-txt">A123sendbb</span>
        </div>
      </div>
    </div>
    <h4>Shared Info</h4>
    <div class="inputs">
      <div class="row h-btm">
        <div class="first-input-box">
          <p>Family Calender</p>
          <span class="spn-txt">A123sendbb</span>
        </div>
        <div class="input-box">
          <p>Meds</p>
          <span class="spn-txt">A123sendbb</span>
        </div>
      </div>
    </div>
    <h4>Telephony</h4>
    <div class="inputs">
      <div class="row h-btm">
        <div class="first-input-box">
          <p>Telephony Number</p>
          <span class="spn-txt">A123sendbb</span>
        </div>
      </div>
    </div>
    </div>
    <div class="row hidden-block">
     <p class="footer-note"><span class="mandatory">*</span> Mandatory fields</p>
      <%= f.submit "Submit", value: "Submit", class: "farCare-btn submit first-btn" %>
  <% end %>
  <%= link_to (button_tag "Cancel",:type => 'button',:class => "farCare-btn cancel"), edit_fcg_home_path(@care_client_current.id), :id => "pcg_edit_cancel" %>
    </div>
  </div>

<script>

$(function(){

  get_states($('.country').val());
  $("#fcg_last_name").change(function(e){
    var id = $(this).val();
    document.location.href='/fcg/home/'+ id +'/edit';
  });

  $("#datepicker").datepicker({
    onClose: function(dateText, inst) { $(inst.input).change().focusout(); },
    changeMonth: true,
    changeYear: true,
    dateFormat: 'mm-dd-yy',
    maxDate : new Date(),
    yearRange: "-100:+0",
    showMonthAfterYear : true
  });


  $('.country').change(function(){
    get_states($('.country').val());
    $('#state').next().html('Please select');
  });
  $('#country').change(function(){
    get_states($('#country').val());
    $('#state').next().html('Please select');
  });

  $('#country').focusout(function(){
    validation("#country")
  });
  $('#state').focusout(function(){
    validation("#state")
  });
  $('#time_zone').focusout(function(){
    validation("#time_zone")
  });

  $('.submit').click(function(){
    validation_submit("#country")
    validation_submit("#state")
    validation_submit("#time_zone")
  });

});

function validation(class_name){
  if ($(class_name).val() == ''){
    $(class_name).parent().next().hide();
    $(class_name).parent().next().next().remove();
  }
}
function validation_submit(class_name_submit){
  if ($(class_name_submit).val() == ''){
    $(class_name_submit).parent().next().show();
    $(class_name_submit).parent().next().next().remove();
  }
}
function get_states (value) {
  $.ajax({
    type: "POST",
    dataType: "script",
    url: '/pcg/home/get_state_list',
    data: {country: value}
  });
}

</script>