<div id="content-block">
	<div class="breadcrum">
		<ul>
			<li><%= link_to "Home",fcg_view_care_clients_path %></li>
			<li class="greater-than"><%= image_tag "greater-than.png", :width =>"4", :height => "7" %></li>
			<li><%= link_to "Care Client",fcg_view_care_clients_path %></li>
      <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height => "7" %></li>
			<li>View Careplan</li>
		</ul>
	</div>
	<h3 class="clear m_btm-15">View Careplan <span class="name">(<%= @care_client.fullname %>)</span></h3>
	<%= render "shared/services" , collection: @services, locals: {id: @care_client} %>
</div>
<div class="row">
	<p class="footer-note"><span class="mandatory">*</span> Mandatory fields</p>
</div>
<script>
	$(function(){
		//slides the element with class "accordian-body" when paragraph with class "accordian-head" is clicked 
		if (!$("#firstpane p.accordian-head").hasClass("active")) {
			$("#firstpane p.accordian-head").addClass("active").next("div.accordian-body").slideToggle(300);
		} 		
	});
	function toggle(e){
      if (!$(e).hasClass("active")) {
        $(e).addClass("active").next("div.accordian-body").slideToggle(300);
      }
      else {
        $(e).removeClass("active").next("div.accordian-body").slideToggle(300);
      }
    } 
</script>
