<%#= @assigned_events.to_yaml %>
 <!-- content starts here -->
<div id="content-block">
  <div class="breadcrum">
    <ul>
      <li><%= link_to "Home", pcg_home_index_path%></li>
      <li class="greater-than"><%= image_tag("greater-than.png", style: "height: 7px;width: 4px;")%></li>
      <li>Appointments</li>
    </ul>
  </div>
  <h3 class="clear relative m_btm-15">Appointments(<%= link_to @care_client.fullname,edit_fcg_home_path(@care_client.id) %>)</h3>
 <div class="search relative">
    <%= form_tag pcg_care_client_services_path(@care_client), :method => 'get'  do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <% end %>
  </div>
  <div class="row">
      
    <table width="100%" cellspacing="0" cellpadding="0" class="farCare-tble sort-table">
      <% unless @assigned_events.empty? %>
        <tr>
          <th width="18%">Title</th>
          <th width="18%">Description</th>
          <th width="15%">Services</th>
          <th width="18%"><%= sortable_event "service_time" %></th>
      <% else %>
          <th width="18%">Title</th>
          <th width="18%">Description</th>
          <th width="15%">Services</th>
          <th width="15%">Service Time</th>
      <% end %>
          </tr>
        <% unless @assigned_events.empty? %>
          <% @assigned_events.each do |event| %>
            <% care_client = event_care_client(event) %>
             <tr>
              <td class = "toolTip" title= "<%= event.cc_event.title %>"><%= truncate(event.cc_event.title, :length => 20)%>
              <%#= link_to care_client.first_name, edit_fcg_home_path(care_client.id) %></td>
              <td class = "toolTip" title= "<%= event.cc_event.description %>"><%= truncate(event.cc_event.description, :length => 20) %>
              <%#= link_to care_client.last_name, edit_fcg_home_path(care_client.id) %></td>
              <td><%= check_in_check_out_botton(event)%></td>
              <td style="color: <%= colour_event(event.cc_event)%>"><%= event.cc_event.starttime.strftime("#{event.cc_event.starttime.day.ordinalize} %B %y at %I:%M%p") %></td>
            </tr>
            
          <% end %>
        <% else %>
          <tr><td colspan="11" class="last-td">No Records Found</td><tr>
        <% end %>
    </table>
  </div>
  <% unless @assigned_events.empty? %>
    <div class="row">
        <%= paginate @assigned_events, :outer_window => 1 %>
    </div>
  <% end %>
</div>
  <!-- content starts here --> 
<div id="backgroundPopup"></div>
<!-- scripts --> 
<script>
    function setupLabel() {
        if ($('.label_check input').length) {
            $('.label_check').each(function(){ 
                $(this).removeClass('c_on');
            });
            $('.label_check input:checked').each(function(){ 
                $(this).parent('label').addClass('c_on');
            });                
        };
        if ($('.label_radio input').length) {
            $('.label_radio').each(function(){ 
                $(this).removeClass('r_on');
            });
            $('.label_radio input:checked').each(function(){ 
                $(this).parent('label').addClass('r_on');
            });
        };
    };
</script>


