    <div class="breadcrum">
      <ul>
        <li><%= link_to change_name("pcg"),pcga_home_index_path, :id => "pcg_breadcrum_link" %></li>
        <li class="greater-than"><%= image_tag "greater-than.png", :width => "4", :height =>"7" %></li>
        <li>Add <%= change_name("pcg")%></li>
      </ul>
    </div>
    <h3 class="clear">Add <%= change_name("pcg")%></h3>

    <h4>Personal Details</h4>

    <%= simple_form_for(@care_giver, :url => pcg_home_index_path, method: :post, validate: true) do |f| %>
      <div class="inputs">

        <div class="row">
          <div class="first-input-box">
            <p>First Name <span class="mandatory">*</span></p>
            <%= f.text_field :first_name %>
          </div>
          <div class="input-box">
            <p>Last Name <span class="mandatory">*</span></p>
            <%= f.text_field :last_name %>
          </div>
        </div>

        <div class="row">
          <div class="first-input-box">
            <p>Home Address 1 <span class="mandatory">*</span></p>
            <%= f.text_field :address_1 %>
          </div>
          <div class="input-box">
            <p>Home Address 2 </p>
            <%= f.text_field :address_2 %>
          </div>
        </div>

        <div class="row">
          <div class="first-input-box">
            <p>Country <span class="mandatory">*</span></p>
            <%= f.select(:country_id, Country.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select country", :id => "country"}) %>
          </div>
          <div class="input-box">
            <p>State <span class="mandatory">*</span></p>
            <%= f.select(:state_id, State.all.collect {|a| [a.name, a.id]}, {:include_blank => "Please select"},{class: "custom-select", :id => "state"}) %>
          </div>
        </div>

        <div class="row">
          <div class="first-input-box">
            <p>City <span class="mandatory">*</span></p>
            <%= f.text_field :city %>
          </div>
          <div class="input-box">
            <p>Zip /Postal Code <span class="mandatory">*</span></p>
            <%= f.text_field :zip %>
          </div>
        </div>

        <div class="row">
          <div class="first-input-box">
            <p>Mobile No. <span class="mandatory">*</span></p>
            <%= f.text_field :mobile_no, :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
          </div>
          <div class="input-box">
            <p>Alternative No.</p>
            <%= f.text_field :alternative_no, :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
          </div>
        </div>

        <div class="row">
          <%= f.fields_for :user do |user| %>
            <div class="first-input-box">
              <p><label>Email</label><span class="mandatory">*</span></p>
              <%= user.text_field :email %>
            </div>
          <% end %>
          <div class="input-box">
          	<p>Gender <span class="mandatory">*</span></p>
            <fieldset class="radios">
            <label class="label_radio r_on">
              <%= f.radio_button :gender, 'Male', :checked => true %>
              Male</label>
            <label class="label_radio">
              <%= f.radio_button :gender, 'Female', :checked => true %>
              Female</label>
          </fieldset>
          </div>
        </div>

        <div class="row h-btm">
          <div class="first-input-box">
            <p>Date of Birth <span class="mandatory">*</span></p>
            <%= f.text_field :dob , :class => "datepicker", readonly: true %>
          </div>
          <div class="input-box">
            <p>Telephony Id </p>
            <%= f.text_field :telephony_id %>
          </div>
        </div>

      </div>

      <h4>Professional Details</h4>
      <div class="inputs">

        <div class="row">
          <div class="first-input-box">
            <p>Highest Education </p>
            <%= f.text_field :highest_education %>
          </div>
          <div class="input-box">
            <p style="width:176px;">School year Graduated</p>
            <%= f.select :school_year_graduated,(1950..Time.now.year).to_a.reverse,{:include_blank =>"Please select"},{:class => "custom-select", :id => "school_year_graduated"} %>
          </div>
        </div>

        <div class="row">
          <div class="first-input-box">
            <p>College Name </p>
            <%= f.text_field :college_name %>
          </div>
          <div class="input-box">
            <p>Year Graduated </p>
            <%= f.select :year_graduated,(1950..Time.now.year).to_a.reverse,{:include_blank =>"Please select"},{:class => "custom-select"} %>
          </div>
        </div>

        <div class="row">
          <div class="first-input-box">
            <p>Degree /Certificate </p>
            <%= f.text_area :certificates %>
          </div>
          <div class="input-box">
            <p>Certification/Training </p>
            <%= f.text_area :training %>
          </div>
        </div>

        <div class="row h-btm">
          <div class="first-input-box">
            <p>Active Since </p>
            <%= f.text_field :active_since, disabled: true %>
          </div>
          </div>

      </div>

      <h4>Emergency Details</h4>
      <div class="inputs">

        <div class="row">
          <div class="first-input-box">
            <p>First Name</p>
            <%= f.text_field :emergency_first_name %>
          </div>
          <div class="input-box">
            <p>Last Name</p>
            <%= f.text_field :emergency_last_name %>
          </div>
        </div>

        <div class="row">
          <div class="first-input-box">
            <p>Phone No. 1</p>
            <%= f.text_field :emergency_phone_no1, :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
          </div>
          <div class="input-box">
            <p>Phone No. 2</p>
            <%= f.text_field :emergency_phone_no2, :title => "Please enter phone number (including country code) with no spaces or hyphens. e.g. '+19057076666'" %>
          </div>
        </div>

        <div class="row h-btm">
            <p>Notes </p>
            <%= f.text_area :emergency_notes %>
        </div>

      </div>
      <div class="row">
      <p class="footer-note"><span class="mandatory">*</span> Mandatory fields</p>
        <%= f.submit "Submit", value: "Submit", class: "farCare-btn submit first-btn", :disable_with => 'Submit' %>
        <%= link_to (button_tag "Cancel",:type => 'button',:class => "farCare-btn cancel"), pcga_home_index_path, :id => "pcg_new_cancel" %>
    <% end %>
    </div>


<script type="text/javascript">

  get_states($('.country').val());

  $('.country').change(function(){
      get_states($('.country').val());
      $('#state').next().html('Please select');
    });
    $('#country').focusout(function(){
      validation("#country")
    });
    $('#state').focusout(function(){
      validation("#state")
    });
    $('#school_year_graduated').focusout(function(){
      validation("#school_year_graduated")
    });
    $('.submit').click(function(){
      validation_submit("#country")
      validation_submit("#state")
      validation_submit("#school_year_graduated")
    });

    function validation(class_name){
      if ($(class_name).val() == ''){
        $(class_name).parent().next().hide();
        $(class_name).parent().next().next().remove();
      }
    }
    function validation_submit(class_name_submit){
      if ($(class_name_submit).val() == ''){
        $(class_name_submit).parent().next().show();
        $(class_name_submit).parent().next().next().remove();
      }
    }
   $(function() {
      $(".datepicker").datepicker({
        onClose: function(dateText, inst) {$(inst.input).change().focusout(); },
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        maxDate : new Date(),
        yearRange: "-100:+0",
        showMonthAfterYear : true
      });
    });

  function get_states (value) {
    $.ajax({
      type: "POST",
      dataType: "script",
       beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},
      url: '/pcg/home/get_state_list',
      data: {country: value}
    });
  }

</script>