  <div id="content-block">
    <div class="breadcrum">
      <ul>
        <li><%= link_to "Home",pcg_home_index_path(),:id =>"pcgc_settings_edit_cancel" %></li>
        <li class="greater-than"><%=image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li>Settings</li>
        <li class="greater-than"><%=image_tag "greater-than.png", :width => "4", :height => "7" %></li>
        <li>Change Password</li>
      </ul>
    </div>
    <h3 class="clear">Change Password</h3>
    <!--settings menu-->
    <div class="settings-menu two-tabs">
      <ul>
        <li><%= link_to "View Profile", pcg_settings_view_profile_path %><span></span></li>
        <li><%= link_to "Change Password", pcg_settings_change_password_path,class: "#{
                  if params[:controller] == "pcg/home" || params[:controller] == "pcga/home"
                    ["settings_change_password"].include?(params[:action]) ? "active" : ""
                  end }" %><span></span></li>
      </ul>
    </div>

    <h4>Change Password</h4>
    <%= simple_form_for(@care_giver, :url => pcg_settings_update_password_path, method: :patch, validate: true) do |f| %>
      <div class="inputs"> 

        <div class="row">
          <div class="first-input-box">
            <p>Current Password <span class="mandatory">*</span><p class = "current_password" style="color:red;font-size:12px;"> </p></p>
            <%= password_field_tag :current_password,"", :id => "current_password" %>
          </div>
        </div>

        <%= f.fields_for :user do |user| %>
          <div class="row">
            <div class="first-input-box">
              <p>New Password <span class="mandatory">*</span></p>
              <%= user.password_field :password %>
            </div>
          </div>

          <div class="row h-btm">
            <div class="first-input-box">
              <p>Confirm New Password <span class="mandatory">*</span></p>
              <%= user.password_field :password_confirmation %>
            </div>
          </div>
        <% end %>
   
      </div>
      <div class="row">
      <p class="footer-note"><span class="mandatory">*</span> Mandatory fields</p>
    	 <%= f.submit "Submit", value: "Submit", class: "farCare-btn submit first-btn save" %>
    <% end %>
      <%= link_to (button_tag "Cancel",:type => 'button',:class => "farCare-btn cancel"), pcg_home_index_path,:id =>"pcgc_settings_edit_cancel" %>
      </div>
  </div>

<script>

  $('.save').click(function(event){

    if ($('#current_password').val() == ""){
      event.preventDefault();
      $('.current_password').html("can't be blank");
    }
    else{
      $('.current_password').empty();
    }

  });

</script>