<!DOCTYPE html>
<html>
<head>
	<title>HomaCare</title>
	<%= favicon_link_tag('favicon.ico')%>
	<%= yield :calendar_libraries %>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="main-outer-wrapper">
		<div id="wait" class="overlay-loading">
  		<div class="loading-img" ><%= image_tag "loader.GIF", :width => "64", :height => "64" %><br>Loading..</div>
 		</div>
		<% if current_user %>
		<%= render "shared/application_headers" %>
		<div id="footer"><p>&copy;2014 HomaCare All rights reserved</p></div>
		<div id="content-block">
			<%= get_flash_messages %>
			<%= yield %>
		</div>
		<% else %>
		<%= yield %>
		<% end %>
	</div>
</body>
</html>
