<!DOCTYPE html>
<html>
<head>
  <title>HomaCare</title>
  <%= favicon_link_tag('favicon.ico')%>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script language="javascript" type="text/javascript">
//<![CDATA[
var tl_loc0=(window.location.protocol == "https:")? "https://secure.comodo.net/trustlogo/javascript/trustlogo.js" :
"http://www.trustlogo.com/trustlogo/javascript/trustlogo.js";
document.writeln('<scr' + 'ipt language="JavaScript" src="'+tl_loc0+'" type="text\/javascript">' + '<\/scr' + 'ipt>');
//]]>
</script>

</head>
<body>
	<div id="main-outer-wrapper">
    <%= yield %>
    <div id="footer">
    <p>&copy;2014 HomaCare All rights reserved</p>
    </div>
  </div>
</body>
</html>
