<!DOCTYPE html>
<html>
<head>
  <title>HomaCare</title>
  <%= favicon_link_tag('favicon.ico')%>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main-outer-wrapper">
    <%= yield %>
    <div id="landing-footer">
      <div id="footer-inner-wrapper">
        <div class="trusted-logo">
          <a href="https://www.homacare.net">
          <img src="https://www.homacare.net/assets/comodo_secure_76x26_white.png" alt="SSL" width="76" height="26" style="border: 0px;"><br> <span style="font-weight:bold; font-size:7pt"></span></a><br>
          </div>
          <p>&copy;2014 HomaCare All rights reserved</p>
        </div>
      </div>
    </div>
  </body>
  </html>
